@{
    ViewData["Title"] = "Dashboard_SuperAdmin";
    Layout = "~/Views/Layout/LayoutSuperAdmin.cshtml";
}

<style>
    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #F7F6FE; /* Warna latar belakang untuk baris ganjil */
    }

    .table-striped tbody tr:nth-of-type(even) {
        background-color: #FFFFFF; /* Warna latar belakang untuk baris genap */
    }

</style>

<div class="row">

    <!-- Employee RAS Total -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-1">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-3" style="margin: -25px 0;">
                        <span style="font-size: 10px;">RAS Department</span>
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Resource
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.TotalEmployee</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-users fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Employee Status Idle -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-1">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-3" style="margin: -25px 0;">
                        <span style="font-size: 10px;">Placement Status</span>
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Idle
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800" id="countIdle"></div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-user-clock fa-2x text-gray-300"></i>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Employee Status Onsite -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-1">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-3" style="margin: -25px 0;">
                        <span style="font-size: 10px;">Placement Status</span>
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Onsite
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800" id="countOnsite"></div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-map-marker-alt fa-2x text-gray-300"></i>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Employee Birthday -->
    <div class="col-xl-3 col-md-6 mb-4" id="adminAnnouncement">
        <div class="card border-left-danger shadow h-100 py-1">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-3" style="margin: -25px 0;">
                        <span style="font-size: 10px; ">Information</span>
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Birthday
                        </div>
                        <div class="mb-0 text-xs font-weight-bold text-dark" id="birthday"></div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-birthday-cake fa-2x text-primary"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<span style="font-family:comfortaa; font-size:12px;">Date Time :  </span>
<span style="font-family:comfortaa; font-size:12px; color:black ; margin-top:-5px;" id="clock"></span>

<div class="card mb-3">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">TOP University By Employee</h6>
    </div>
    <div class="card-body p-3">
        <table id="tableUniv" class="table table-striped" style="font-size:14px; color:black">
            <thead style="background-color:#FFFFFF">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">University</th>
                    <th scope="col">Number of employees</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<!-- Bar Chart -->
<div class="card shadow mb-4 mt-4 d-none d-lg-block">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">TOP University By Employee</h6>
    </div>
    <div class="card-body">
        <div class="chart-bar">
            <canvas id="myBarChart"></canvas>
        </div>
    </div>
</div>
<!-- Pie Chart turnover-->

<div class="card shadow mb-4 d-none d-lg-block">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Turn Over Employee</h6>
    </div>
    <div class="card-body">
        <div class="chart-bar" >
            <canvas id="ChartTurnOver"></canvas>
        </div>
    </div>
</div>
<!-- Loader-->
<div id="loader" style="width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); z-index: 999; display: none; position: fixed; top: 0; left: 0; ">
    <div style="position: fixed; top: 50%; left: 50%;  text-align: center;">
        <!-- Icon spinner -->
        <div class="spinner-border text-info" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<script src="~/startbootstrap-sb-admin-2-gh-pages/vendor/chart.js/Chart.min.js"></script>
<script src="~/js/Chart.js"></script>
@* <script src="~/js/site.js"></script> *@
<script src="~/js/Account.js"></script>
<script>
    function updateClock() {
        var now = new Date();
        var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' };
        var dateTimeString = now.toLocaleString('en-US', options);

        document.getElementById('clock').innerHTML = dateTimeString;
    }

    setInterval(updateClock, 1000); // Update setiap detik
    $("#adminAnnouncement").hide();

    $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
    //GetBirthday
    $.ajax({
        type: "GET",
        url: "https://localhost:7177/api/Accounts/BirthDay",
        contentType: "application/json; charset=utf-8",
        headers: {
        Authorization: "Bearer " + sessionStorage.getItem("Token"),
        },
    }).then((result) => {
        if (result.status == 200) {
        document.getElementById("birthday").innerHTML = "";
        var text = "";
        result.data.name.forEach((item) => {
            text += item + ", ";
        });
        $("#adminAnnouncement").show();

        document.getElementById("birthday").innerHTML =
            text.substr(0, text.length - 2) + ".";
        } else if (result.status == 404) {
        document.getElementById("birthday").innerHTML = "";
        $("#adminAnnouncement").hide();
        }
    });
    });
</script>
