
@{
    ViewData["Title"] = "Employee";
    Layout = "~/Views/Layout/LayoutEmployee.cshtml";
}

<style>
    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #F7F6FE; /* Warna latar belakang untuk baris ganjil */
    }

    .table-striped tbody tr:nth-of-type(even) {
        background-color: #FFFFFF; /* Warna latar belakang untuk baris genap */
    }

</style>
<div class="row">

    <!-- Employee RAS Total -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-1">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-3" style="margin: -25px 0;">
                        <span style="font-size: 10px;">RAS Department</span>
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Employee
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.TotalEmployee</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-users fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<span style="font-family:comfortaa; font-size:12px;">Date Time :  </span>
<span style="font-family:comfortaa; font-size:12px; color:black ; margin-top:-5px;" id="clock"></span>

<table class="table table-striped" style="font-size:14px; color:black">
    <thead style="background-color:#FFFFFF">
        <tr>
            <th scope="col">#</th>
            <th scope="col">University</th>
            <th scope="col">Number of employees</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>

        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>

        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>

        </tr>
    </tbody>
</table>

<!-- Bar Chart -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">TOP University By Employee</h6>
    </div>
    <div class="card-body">
        <div class="chart-bar">
            <canvas id="myBarChart"></canvas>
        </div>
    </div>
</div>

<script src="~/js/Chart.js"></script>
<script>
    function updateClock() {
        var now = new Date();
        var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' };
        var dateTimeString = now.toLocaleString('en-US', options);

        document.getElementById('clock').innerHTML = dateTimeString;
    }

    setInterval(updateClock, 1000); // Update setiap detik
</script>
