@{

}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap">

    <!-- Custom styles for this template-->
   

    <!-- Custom styles for this page -->
    <link href="~/startbootstrap-sb-admin-2-gh-pages/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">  
    <title>Hello, world!</title>
</head>
<body>

    <style>
        .cv {
            font-family: Tahoma;
            margin: 40px;
            padding: 20px;
            background-color: #fff;
            /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
            page-break-after: avoid;
        }

        h1 {
            text-align: center;
            margin-bottom: 30px;
        }

        h2 {
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 5px;
        }

        /* Media query untuk tampilan cetakan */
        @@media print {
            body * {
                visibility: hidden;
            }

            .cv, .cv * {
                visibility: visible;
            }

            .cv {
                position: absolute;
                left: 0;
                top: 0;
                margin: 0;
                padding: 0;
            }
        }
    </style>

    <div class="cv" id="print-content">

        <div class="ml-5 pl-4 mt-4 pr-5">
            <h6 class="mb-4">
                PT. Berca Hardayaperkasa Curriculum Vitae

                <img class="ml-4 img-fluid" src="~/img/logo_putih.png" style="height: 50px;width: 260px;">
            </h6>

            <!--Card CV -->  <!-- Personal Details -->
            <div class="mb-3">
                <div class="border-0 rounded-0">
                    <div class="m-0 pl-1 pt-1 pb-2" style="background-color:#bfbfbd">
                        <h6 class="m-0  font-weight-bold" style="color:black">PERSONAL DETAILS </h6>
                    </div>

                    <!-- Personal Details -->
                    <div class="section mt-1 ">
                        <div class="row">
                            <div class="col-4 text-dark">
                                <p>Name</p>
                            </div>
                            <div class="col">
                                <span>:</span>
                                <span id="fullName" style="color:black"> </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4 text-dark">
                                <p>Nickname</p>
                            </div>
                            <div class="col">
                                <span>:</span>
                                <span id="nickName" style="color:black"> </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4 text-dark">
                                <p>Place & date of birth</p>
                            </div>
                            <div class="col">
                                <span>:</span>
                                <span id="birthPlace" style="color:black"> </span>
                                <span>, </span>
                                <span id="birthDate" style="color:black"> </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4 text-dark">
                                <p>Gender</p>
                            </div>
                            <div class="col">
                                <span>:</span>
                                <span id="gender" style="color:black"> </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4 text-dark">
                                <p>Religion</p>
                            </div>
                            <div class="col">
                                <span>:</span>
                                <span id="religion" style="color:black"> </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4 text-dark">
                                <p>Marital Status</p>
                            </div>
                            <div class="col">
                                <span>:</span>
                                <span id="martialStatus" style="color:black"> </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4 text-dark">
                                <p>Nationality</p>
                            </div>
                            <div class="col">
                                <span>:</span>
                                <span id="nationality" style="color:black"> </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Educations -->
            <div class=" section mb-3">
                <div class="border-0 rounded-0">
                    <div class="m-0 pl-1 pt-1 pb-2" style="background-color:#bfbfbd">
                        <h6 class="m-0 font-weight-bold" style="color:black">EDUCATIONS </h6>
                    </div>

                    <div class="section m-0 mt-2 ">
                        <table class="table table-responsive p-0">
                            <thead class="thead-light p-0">
                                <tr>
                                    <th class="col-1 text-dark" scope="col"><p><h6>Years Graduate</h6></th>
                                    <th class="col-5 text-dark" scope="col"><h6>Name of School / University</h6></th>
                                    <th class="col-2 text-dark" scope="col"><h6>Location</h6></th>
                                    <th class="col-3 text-dark" scope="col"><h6>Major</h6></th>
                                    <th class="col-2 text-dark" scope="col"><h6>Degree</h6></th>
                                </tr>
                            </thead>
                            <tbody id="educationTableBody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>



            <!-- Non Formal Educations -->
            <div class="section mb-4">
                <div class="border-0 rounded-0">
                    <div class="m-0 pl-1 pt-1 pb-2" style="background-color:#bfbfbd">
                        <h6 class="m-0 text-dark font-weight-bold" style="color:black">NON FORMAL EDUCATIONS </h6>
                    </div>

                    <div class="section m-0 mt-1">
                        <ul class="pl-3 ">
                            <li class="text-justify">C# Training, PT. Berca Hardayaperkasa: SQL Server Database, C# Programming Language, Object Oriented Programming, ASP .NET Core, Pattern (MVC, MVVM, N-Layered Architecture), Web API, Code first, Database First, Entity Framework Core, Dapper, Asynchronous, Implement JWT, BCrypt, Dokumentasi API menggunakan swagger, JavaScript, Web Template (CSS, Bootstrap)</li>
                            <li>Item 2</li>
                            <li>Item 3</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!--Qualifications -->
            <div class="section mb-3">
                <div class="border-0 rounded-0">
                    <div class="m-0 pl-1 pt-1 pb-2" style="background-color:#bfbfbd">
                        <h6 class="m-0 text-dark font-weight-bold">QUALIFICATIONS </h6>
                    </div>

                    <div class="section m-0 mt-1">
                        <ul class="pl-3 ">
                            <li class="text-justify">Framework/Library: .Net Core API, .Net Core MVC, CodeIgniter, Bootstrap, Jquery</li>
                            <li>Programming Languange: C#, PHP, Javascript, Python, HTML & CSS</li>
                            <li>Database: SQL Server, MySQL</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/GenerateCv.js"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
