@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/LayoutAdmin.cshtml";
}


<style>
    .cv {
        font-family: Tahoma;
       
        margin: 40px;
        padding: 20px;
        background-color: #fff;
        /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
        page-break-after: avoid;
    }

    h1 {
        text-align: center;
        margin-bottom: 30px;
    }

    h2 {
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 5px;
    }
    
    /* Media query untuk tampilan cetakan */
    @@media print {
        body * {
            visibility: hidden;
        }
        
        .cv, .cv * {
            visibility: visible;
        }
        
        .cv {
            position: absolute;
            left: 0;
            top: 0;
            margin: 0;
            padding: 0;
        }
    }
</style>

<div class="cv" id="print-content">
   
    <div class="ml-5 pl-4 mt-4 pr-5">
        <h6 class="mb-4">
            PT. Berca Hardayaperkasa Curriculum Vitae
            
            <img class="ml-4 img-fluid" src="~/img/logo_putih.png" style="height: 50px;width: 260px;">
        </h6>

        <!--Card CV -->  <!-- Personal Details -->
        <div class="mb-3">
            <div class="border-0 rounded-0">
                <div class="m-0 pl-1 pt-1 pb-2" style="background-color:#bfbfbd">
                    <h6 class="m-0 text-dark font-weight-bold">PERSONAL DETAILS </h6>
                </div>

                <!-- Personal Details -->
                <div class="section mt-1 ">
                    <div class="row">
                        <div class="col-4 text-dark">
                            <p>Name</p>
                        </div>
                        <div class="col">
                            <span>:</span>
                            <span id="fullName"> </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4 text-dark">
                            <p>Nickname</p>
                        </div>
                        <div class="col">
                            <span>:</span>
                            <span id="nickName"> </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4 text-dark">
                            <p>Place & date of birth</p>
                        </div>
                        <div class="col">
                            <span>:</span>
                            <span id="birthPlace"> </span>
                            <span>, </span>
                            <span id="birthDate"> </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4 text-dark">
                            <p>Gender</p>
                        </div>
                        <div class="col">
                            <span>:</span>
                            <span id="gender"> </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4 text-dark">
                            <p>Religion</p>
                        </div>
                        <div class="col">
                            <span>:</span>
                            <span id="religion"> </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4 text-dark">
                            <p>Martial Status</p>
                        </div>
                        <div class="col">
                            <span>:</span>
                            <span id="martialStatus"> </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4 text-dark">
                            <p>Nationality</p>
                        </div>
                        <div class="col">
                            <span>:</span>
                            <span id="nationality"> </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Educations -->
        <div class=" section mb-3">
            <div class="border-0 rounded-0">
                <div class="m-0 pl-1 pt-1 pb-2" style="background-color:#bfbfbd">
                    <h6 class="m-0 text-dark font-weight-bold">EDUCATIONS </h6>
                </div>

                <div class="section m-0 mt-2 ">
                    <table class="table table-responsive p-0">
                        <thead class="thead-light p-0">
                            <tr>
                                <th class="col-1 text-dark" scope="col"><p><h6>Years Graduate</h6></th>
                                <th class="col-6 text-dark" scope="col"><h6>Name of School / University</h6></th>
                                <th class="col-2 text-dark" scope="col"><h6>Location</h6></th>
                                <th class="col-2 text-dark" scope="col"><h6>Major</h6></th>
                                <th class="col-2 text-dark" scope="col"><h6>Degree</h6></th>
                            </tr>
                        </thead>
                        <tbody id="educationTableBody">
                       
                        </tbody>
                    </table>
                </div>
            </div>
        </div>



        <!-- Non Formal Educations -->
        <div class="section mb-4">
            <div class="border-0 rounded-0">
                <div class="m-0 pl-1 pt-1 pb-2" style="background-color:#bfbfbd">
                    <h6 class="m-0 text-dark font-weight-bold">NON FORMAL EDUCATIONS </h6>
                </div>

                <div class="section m-0 mt-1">
                    <ul class="pl-3 ">
                        <li class="text-justify">C# Training, PT. Berca Hardayaperkasa: SQL Server Database, C# Programming Language, Object Oriented Programming, ASP .NET Core, Pattern (MVC, MVVM, N-Layered Architecture), Web API, Code first, Database First, Entity Framework Core, Dapper, Asynchronous, Implement JWT, BCrypt, Dokumentasi API menggunakan swagger, JavaScript, Web Template (CSS, Bootstrap)</li>
                        <li>Item 2</li>
                        <li>Item 3</li>
                    </ul>
                </div>
            </div>
        </div>

        <!--Qualifications -->
        <div class="section mb-3">
            <div class="border-0 rounded-0">
                <div class="m-0 pl-1 pt-1 pb-2" style="background-color:#bfbfbd">
                    <h6 class="m-0 text-dark font-weight-bold">QUALIFICATIONS </h6>
                </div>

                <div class="section m-0 mt-1">
                    <ul class="pl-3 ">
                        <li class="text-justify">Framework/Library: .Net Core API, .Net Core MVC, CodeIgniter, Bootstrap, Jquery</li>
                        <li>Programming Languange: C#, PHP, Javascript, Python, HTML & CSS</li>
                        <li>Database: SQL Server, MySQL</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-right">
    <a href="" onclick="printCV()" type="button" class="btn btn-primary">Download PDF</a>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/GenerateCv.js"></script>


<script>
    function printCV() {
        // Simpan pengaturan cetakan saat ini
        var originalBody = document.body.innerHTML;
        var originalFontSize = document.body.style.fontSize;

        // Ubah ukuran kertas cetakan menjadi A4
        document.body.style.width = "210mm";
        document.body.style.height = "297mm";

        // Ubah font ukuran default agar sesuai dengan ukuran kertas
        document.body.style.fontSize = "12pt";

        // Cetak halaman
        window.print();

        // Kembalikan pengaturan cetakan ke nilai semula
        document.body.innerHTML = originalBody;
        document.body.style.fontSize = originalFontSize;
    }

</script>