
@{
    ViewData["Title"] = "Certificate";
    var role = ViewData["UserRole"] as string;
    var layoutPath = $"~/Views/Layout/Layout{role}.cshtml";
    Layout = layoutPath;
}

<style>
    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #F7F6FE; /* Warna latar belakang untuk baris ganjil */
    }

    .table-striped tbody tr:nth-of-type(even) {
        background-color: #FFFFFF; /* Warna latar belakang untuk baris genap */
    }

</style>

<!-- /.card-header -->
<div class="card-body">
    <h5 class="mb-3">Certificate</h5>
    <button style="background-color:#624DE3;  font-size: 12px;" type="button" class="btn btn-sm text-light mb-2" data-toggle="modal" data-target="#Modal" onclick="ClearScreen();">
        + Add Certificate
    </button>

    @*Modal*@
    <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Certificate</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" id="CertificateId" hidden>
                        </div>
                        <div class="form-group">
                            <label for="Name">Certificate Name</label>
                            <input type="text" class="form-control" id="Name" placeholder="Enter Name" required>
                            <span class="error-message" style="color: red; display: none;">This field is required!</span>
                        </div>
                        <div class="form-group">
                            <label for="Publisher">Publisher</label>
                            <input type="text" class="form-control" id="Publisher" placeholder="Enter Publisher" required>
                            <span class="error-message" style="color: red; display: none;">This field is required!</span>
                        </div>
                        <div class="form-group">
                            <label for="PublicationYear">Publication Years</label>
                            <input type="month" class="form-control" id="PublicationYear" placeholder="Enter Publication Years" required>
                            <span class="error-message" style="color: red; display: none;">This field is required!</span>
                        </div>
                        <div class="form-group">
                            <label for="ValidUntil">ValidUntil</label>
                            <input type="month" class="form-control" id="ValidUntil" placeholder="Enter Valid Until" >
                            <span class="error-message" style="color: red; display: none;">This field is required!</span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="Save" onclick="Save();">Save</button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal" id="Update" onclick="Update();">Update</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <table id="TB_Certificate" class="table table-striped" style="font-size:14px; color:black">
        <thead style="background-color:#FFFFFF">
            <tr>
                <th scope="col">No</th>
                <th scope="col">Name</th>
                <th scope="col">Publisher</th>
                <th scope="col">Publication Year</th>
                <th scope="col">Valid Until</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
    </table>

</div>

@section script{
    <script src="~/js/Certificate.js"></script>
}