@{
    ViewData["Title"] = "Certificate";
    var role = ViewData["UserRole"] as string;
    var layoutPath = $"~/Views/Layout/Layout{role}.cshtml";
    Layout = layoutPath;
}

<style>
    .input-group {
        position: relative;
    }
    .error-message-p {
        color: red;
        display: none;
        margin-top: 37px;
        margin-bottom:100px;
        position:absolute;
    }
</style>

<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet">
<style>
    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #F7F6FE; /* Warna latar belakang untuk baris ganjil */
    }

    .table-striped tbody tr:nth-of-type(even) {
        background-color: #FFFFFF; /* Warna latar belakang untuk baris genap */
    }

</style>



<!-- /.card-header -->
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h5 style="color:#0D6EFD" class="m-1 font-weight-bold ">Achievement / Certificate</h5>
            </div>
            <div class="col">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">

                    <button style="background-color:#0D6EFD;  font-size: 12px;" type="button" class="btn btn-md text-light" data-toggle="modal" data-target="#Modal" onclick="ClearScreen();">
                        + Add Certificate
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body">
        @*<h5 class="mb-3">Achievement / Certificate</h5>
        <button style="background-color:#624DE3;  font-size: 12px;" type="button" class="btn btn-sm text-light mb-2" data-toggle="modal" data-target="#Modal" onclick="ClearScreen();">
        + Add Certificate
        </button>*@

        <table id="TB_Certificate" class="table table-striped w-100" style="font-size:14px; color:black">
            <thead style="background-color:#FFFFFF">
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Organization</th>
                    <th scope="col">Publication Year</th>
                    <th scope="col">Valid Until</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
        </table>

    </div>

</div>

@*Modal*@
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Achievement / Certificate</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="CertificateId" hidden>
                    </div>
                    <div class="form-group">
                        <label for="Name">Certificate Name</label>
                        <input type="text" class="form-control" id="Name" oninput="handleInput(event, this);" onpaste="handleInput(event, this);" placeholder="Enter certificate name" required>
                        <span class="error-message err" style="color: red; display: none;">This field is required!</span>
                    </div>
                    <div class="form-group">
                        <label for="Publisher">Issuing Organization</label>
                        <input type="text" class="form-control" id="Publisher" oninput="handleInput(event, this);" onpaste="handleInput(event, this);" placeholder="Enter the publisher" required>
                        <span class="error-message err" style="color: red; display: none;">This field is required!</span>
                    </div>
                    <div class="form-group">
                        <label for="PublicationYear">Publication Years<span style="color: red;">*</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="PublicationYear" placeholder="Choose month and year..." required readonly>
                            <span class="error-message-p err" style="color: red; display: none;">This field is required!</span>
                            <br/>
                            <br />
                            <div class="input-group-append">
                                <span class="input-group-text" id="dateMonth"><i class="fas fa-calendar"></i></span>
                            </div>

                        </div>
                        
                    </div>


                    <div class="form-group">
                        <label for="ValidUntil">Valid Until</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="ValidUntil" placeholder="Choose month and year..." readonly>

                            <div class="input-group-append">
                                <span class="input-group-text" id="dateMonth"><i class="fas fa-calendar"></i></span>
                            </div>
                            
                        </div>

                        <span class="error-message" style="color: red; display: none;">This field is required!</span>
                        <small class="form-text text-muted">Leave blank if there is no expiration date</small>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="Save" onclick="Save();">Save</button>
                <button type="button" class="btn btn-warning" id="Update" onclick="Update();">Update</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="ClearScreen();">Close</button>
            </div>
        </div>
    </div>
</div>

@section script{
    <script src="~/js/Certificate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js" integrity="sha512-LsnSViqQyaXpD4mBBdRYeP6sRwJiJveh2ZIbW41EBrNmKxgr/LFZIiWT6yr+nycvhvauz8c2nYMhrP80YhG7Cw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}