@{
    ViewData["Title"] = "Educations";
    Layout = "~/Views/Layout/LayoutEmployee.cshtml";
}


<style>
    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #F7F6FE; /* Warna latar belakang untuk baris ganjil */
    }

    .table-striped tbody tr:nth-of-type(even) {
        background-color: #FFFFFF; /* Warna latar belakang untuk baris genap */
    }

</style>

<!-- /.card-header -->
<div class="card-body">
    <h5 class="mb-3">Formal Educations</h5>
    <button style="background-color:#624DE3;  font-size: 12px;" type="button" class="btn btn-sm text-light mb-2" data-toggle="modal" data-target="#ModalFormal" onclick="ClearScreenFormal();">
        + Add Education
    </button>
    
    <table id="TB_FormalEdu" class="table table-striped" style="font-size:14px; color:black">
        <thead style="background-color:#FFFFFF">
            <tr>
                <th scope="col">No</th>
                <th scope="col">University Name</th>
                <th scope="col">Location</th>
                <th scope="col">Major</th>
                <th scope="col">Degree</th>
                <th scope="col">Graduation Year</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
    </table>
    
    <hr class="mt-5">
    <h5 class="mb-3 mt-3">Non Formal Educations</h5>
    <button style="background-color:#624DE3;  font-size: 12px;" type="button" class="btn btn-sm text-light mb-2" data-toggle="modal" data-target="#ModalNonFormal" onclick="ClearScreen();">
        + Add Non Formal Education
    </button>
    <table id="NonFormalEdu" class="table table-striped" style="font-size:14px; color:black">
        <thead style="background-color:#FFFFFF">
            <tr>
                <th scope="col">No</th>
                <th>Name</th>
                <th>Organizer</th>
                <th>Years</th>
                <th class="col-5">Description</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
    </table>


    @*Modal*@
    <div class="modal fade" id="ModalFormal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Formal Education</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" id="FormalEduId" hidden>
                        </div>
                        <div class="form-group">
                            <label for="UniversityName">University Name</label>
                            <input type="text" class="form-control" id="UniversityName" placeholder="Enter University Name" required>
                            <span class="error-message-formal" style="color: red; display: none;">This field is required!</span>
                        </div>
                        <div class="form-group">
                            <label for="Location">Location</label>
                            <input type="text" class="form-control" id="Location" placeholder="Enter Location" required>
                            <span class="error-message-formal" style="color: red; display: none;">This field is required!</span>
                        </div>
                        <div class="form-group">
                            <label for="Major">Major</label>
                            <input type="text" class="form-control" id="Major" placeholder="Enter Major" required>
                            <span class="error-message-formal" style="color: red; display: none;">This field is required!</span>
                        </div>
                        <div class="form-group">
                            <label for="Degree">Degree</label>
                            <input type="text" class="form-control" id="Degree" placeholder="Enter Degree" required>
                            <span class="error-message-formal" style="color: red; display: none;">This field is required!</span>
                        </div>
                        <div class="form-group">
                            <label for="GraduationYears">Graduation Year</label>
                            <input type="text" class="form-control" id="GraduationYears" placeholder="Enter Graduation Year" required>
                            <span class="error-message-formal" style="color: red; display: none;">This field is required!</span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="Save" onclick="SaveFormal();">Save</button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal" id="Update" onclick="UpdateFormal();">Update</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="ClearScreenFormal();">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ModalNonFormal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Non Formal Education</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" id="NonformalId" hidden>
                        </div>
                        <div class="form-group">
                            <label for="Name">Name</label>
                            <input type="text" class="form-control" id="Name" placeholder="Name" required-nonformal>
                            <span class="error-message" style="color: red; display: none;">This field is required!</span>
                        </div>
                        <div class="form-group">
                            <label for="Organizer">Organizer</label>
                            <input type="text" class="form-control" id="Organizer" placeholder="Organizer" required-nonformal>
                            <span class="error-message" style="color: red; display: none;">This field is required!</span>
                        </div>
                        <div class="form-group">
                            <label for="Years">Years</label>
                            <input type="text" class="form-control" id="Years" placeholder="Years" required-nonformal>
                            <span class="error-message" style="color: red; display: none;">This field is required!</span>
                        </div>
                        <div class="form-group">
                            <label for="Description">Description</label>
                            <input type="text" class="form-control" id="Description" placeholder="Description" required-nonformal>
                            <span class="error-message" style="color: red; display: none;">This field is required!</span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="SaveNonFormal" onclick="Save();">Save</button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal" id="UpdateNonFormal" onclick="Update();">Update</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="ClearScreen();">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section script
    {
    <script src="~/js/Educations.js"></script>
    <script src="~/js/NonFormalEdu.js"></script>

}