@{
    ViewData["Title"] = "ProjectHistory";
    var role = ViewData["UserRole"] as string;
    var layoutPath = $"~/Views/Layout/Layout{role}.cshtml";
    Layout = layoutPath;
}

<style>
    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #F7F6FE; /* Warna latar belakang untuk baris ganjil */
    }

    .table-striped tbody tr:nth-of-type(even) {
        background-color: #FFFFFF; /* Warna latar belakang untuk baris genap */
    }

</style>

<!-- /.card-header -->
<div class="card">
    <div class="card-body">
        <h5 class="mb-3">Project History</h5>
        <button style="background-color:#624DE3; font-size: 12px; type="button" class="btn btn-sm text-light mb-2" data-toggle="modal" data-target="#Modal" onclick="ClearScreen();">
            + Add Project History
        </button>

        <table id="TB_ProjectHistory" class="table table-striped w-100" style="font-size:14px; color:black">
            <thead style="background-color:#FFFFFF">
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Project Name</th>
                    <th scope="col">Job Specification</th>
                    <th scope="col">Year</th>
                    <th scope="col">Company Name</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@*Modal*@
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Project History</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="ProjectHistoryId" hidden>
                    </div>
                    <div class="form-group">
                        <label for="ProjectName">Project Name</label>
                        <input type="text" class="form-control" id="ProjectName" oninput="handleInput(event, this);" onpaste="handleInput(event, this);" placeholder="Enter project name" required>
                        <span class="error-message" style="color: red; display: none;">This field is required!</span>
                    </div>
                    <div class="form-group">
                        <label for="JobSpec">Job Specification</label>

                        <textarea class="form-control" id="JobSpec" rows="4" oninput="handleInput(event, this);" onpaste="handleInput(event, this);" placeholder="&bull; Enter Job Specification" required></textarea>

                        <span class="error-message" style="color: red; display: none;">This field is required!</span>
                        <small class="form-text text-muted text-primary">You can include a GitHub link or your portfolio.</small>

                    </div>
                    <div class="form-group">
                        <label for="Year">Year</label>
                        <select id="Year" class="form-control" required>
                            <option value="" selected disabled>Select year</option>
                        </select>
                        @*<input type="number" class="form-control" id="Year" placeholder="Enter year" maxlength="4"
                               oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" required>*@
                        <span class="error-message" style="color: red; display: none;">This field is required!</span>
                    </div>
                    <div class="form-group">
                        <label for="CompanyName">Company Name</label>
                        <input type="text" class="form-control" id="CompanyName" oninput="handleInput(event, this);" onpaste="handleInput(event, this);" placeholder="Enter company name" required>
                        <span class="error-message" style="color: red; display: none;">This field is required!</span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="Save" onclick="Save();">Save</button>
                <button type="button" class="btn btn-warning" id="Update" onclick="Update();">Update</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick=" ClearScreen()">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('select[required]').each(function () {
            $(this).prev('label').append('<span style="color: red;">*</span>');
        });
        $('input[required]').each(function () {
            $(this).prev('label').append('<span style="color: red;">*</span>');
        });
        $('textarea[required]').each(function () {
            $(this).prev('label').append('<span style="color: red;">*</span>');
        });
    });

    // Get the select element
    
</script>


@section script
    {
    <script src="~/js/projecthistory.js"></script>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js"></script>
}