@{
    ViewData["Title"] = "ProjectHistory";
    Layout = "~/Views/Layout/LayoutEmployee.cshtml";
}

<style>
    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #F7F6FE; /* Warna latar belakang untuk baris ganjil */
    }

    .table-striped tbody tr:nth-of-type(even) {
        background-color: #FFFFFF; /* Warna latar belakang untuk baris genap */
    }

</style>

<!-- /.card-header -->
<div class="card-body">
    <h5 class="mb-3">Project History</h5>
    <button style="background-color:#624DE3;  font-size: 12px; type="button" class="btn btn-sm text-light mb-2" data-toggle="modal" data-target="#Modal" onclick="ClearScreen();">
        + Add Project History
    </button>

    @*Modals*@
    <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Project</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" id="ProjectHistoryId" hidden>
                        </div>
                        <div class="form-group">
                            <label for="ProjectName">Project Name</label>
                            <input type="text" class="form-control" id="ProjectName" placeholder="Enter Project Name">
                        </div>
                        <div class="form-group">
                            <label for="JobSpec">Job Spesification</label>
                            <input type="text" class="form-control" id="JobSpec" placeholder="Enter Job Spesification">
                        </div>
                        <div class="form-group">
                            <label for="Year">Year</label>
                            <input type="text" class="form-control" id="Year" placeholder="Enter Year">
                        </div>
                        <div class="form-group">
                            <label for="CompanyName">Company Name</label>
                            <input type="text" class="form-control" id="CompanyName" placeholder="Enter CompanyName">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" id="Save" onclick="Save();">Save</button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal" id="Update" onclick="Update();">Update</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <table id="TB_ProjectHistory" class="table table-striped" style="font-size:14px; color:black">
        <thead style="background-color:#FFFFFF">
            <tr>
                <th scope="col">No</th>
                <th scope="col">Project Name</th>
                <th scope="col">Job Spesification</th>
                <th scope="col">Year</th>
                <th scope="col">Company Name</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
    </table>

</div>

@section script
    {
    <script src="~/js/projecthistory.js"></script>
}