@{
    ViewData["Title"] = "Qualification";
    var role = ViewData["UserRole"] as string;
    var layoutPath = $"~/Views/Layout/Layout{role}.cshtml";
    Layout = layoutPath;
}


<span class="badge badge-warning p-2 mb-3">Update your skills every 3 months !!!</span>

<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex">
        <h5 style="font-family:comfortaa; color: black" class="font-weight-bold">Qualifications</h5>
     
    </div>
    <div class="card-body m-0 pt-2">
        <div class="row pt-2 pb-2" style="background-color:#F7F6FE">
            <div class="col-2" style="color: black ; font-family:sans-serif">Framework</div>
            <div class="col-9" id="framework"></div>
            <div class="col-1">
                <button style="background-color:#624DE3" class=" btn btn-sm pl-1 pr-1 pt-0 pb-0 text-light"><i class="fas fa-edit"></i></button>
                <button class="btn btn-sm btn-danger pl-1 pr-1 pt-0 pb-0"><i class="fas fa-trash"></i></button>
            </div>
        </div>
        <div class="row pt-2 pb-2" style="background-color:white">
            <div class="col" style="color: black ; font-family:sans-serif">Programming Language</div>
            <div class="col-9" id="programming"></div>
            <div class="col-1">
                <button style="background-color:#624DE3" class=" btn btn-sm pl-1 pr-1 pt-0 pb-0 text-light"><i class="fas fa-edit"></i></button>
                <button class="btn btn-sm btn-danger pl-1 pr-1 pt-0 pb-0"><i class="fas fa-trash"></i></button>
            </div>
        </div>
        <div class="row pt-2 pb-2" style="background-color:#F7F6FE">
            <div class="col " style="color: black ; font-family:sans-serif">Database</div>
            <div class="col-9" id="databases"></div>
            <div class="col-1">
                <button style="background-color:#624DE3" class=" btn btn-sm pl-1 pr-1 pt-0 pb-0 text-light"><i class="fas fa-edit"></i></button>
                <button class="btn btn-sm btn-danger pl-1 pr-1 pt-0 pb-0"><i class="fas fa-trash"></i></button>
            </div>
        </div>
        <div class="row pt-2 pb-2" style="background-color:white">
            <div class="col " style="color: black ; font-family:sans-serif">Tools</div>
            <div class="col-9" id="tools"></div>
            <div class="col-1">
                <button style="background-color:#624DE3" class=" btn btn-sm pl-1 pr-1 pt-0 pb-0 text-light"><i class="fas fa-edit"></i></button>
                <button class="btn btn-sm btn-danger pl-1 pr-1 pt-0 pb-0"><i class="fas fa-trash"></i></button>
            </div>
        </div>

        <div class="row pt-2 pb-2" style="background-color:#F7F6FE">
            <div class="col " style="color: black ; font-family:sans-serif">Others</div>
            <div class="col-9" id="others"></div>
            <div class="col-1">
                <button style="background-color:#624DE3" class=" btn btn-sm pl-1 pr-1 pt-0 pb-0 text-light"><i class="fas fa-edit"></i></button>
                <button class="btn btn-sm btn-danger pl-1 pr-1 pt-0 pb-0"><i class="fas fa-trash"></i></button>
            </div>
        </div>
    </div>
</div>

@section script{
    <script src="~/js/Qualification.js"></script>
}
