@{
    ViewData["Title"] = "TimeSheet";
    Layout = "~/Views/Layout/LayoutEmployee.cshtml";
}
<style>
    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #F7F6FE;
    }

    .table-striped tbody tr:nth-of-type(even) {
        background-color: #FFFFFF;
    }

    .modal-notify .modal-header {
        border-radius: 3px 3px 0 0;
    }

    .modal-notify .modal-content {
        border-radius: 3px;
    }

    #timeSheetTable tbody tr {
        height: 18px; /* Adjust the height as needed */
        line-height: 18px; /* Adjust the line height as needed */
    }
    .dataTables_scroll {
        margin-bottom: 0.7em;
    }

    .color-bg {
        padding: 5px 6px;
        border-radius: 5px;
    }

    .red-bg {
        background-color: #FF8080; /* Warna merah */
        color: white;
    }

    .beige-bg {
        background-color: #EBC49F;
        color: white;
    }

    /* Gaya untuk bullet */
    .bullet {
        list-style-type: none; /* Menghilangkan default bullet */
        padding-left: 0; /* Menghilangkan padding default */
        margin-bottom: 6px; /* Menambahkan jarak antara bagian */
    }

    /* Gaya untuk setiap item daftar */
    .list-item {
        margin-bottom: 8px;
    }

    /* Gaya untuk teks bullet */
    .bullet-text {
        margin-left: 10px;
    }
</style>

<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

<section id="time-sheet-page">
    <div class="row">
        <div class="col-xl-6 col-sm-6 col-12">
            <div class="card shadow">
                <div class="card-content">
                    <div class="card-body m-0 pl-4 pt-3 pb-3 pr-3">
                        <div class="media d-flex p-0">
                            <div class="align-self-center">
                                <i class="far fa-calendar-check fa-4x text-primary float-left"></i>
                            </div>
                            <div class="media-body text-left pt-0 pl-4">
                                <div class="row">
                                    <span class="col-4 text-dark text-sm">Name</span>
                                    <span class="col-0 text-sm">:</span>
                                    <span id="fullName" class="col text-dark text-sm"></span>
                                </div>
                                <div class="row">
                                    <span class="col-4 text-dark text-sm">Role</span>
                                    <span class="col-0 text-sm">:</span>
                                    <span style="font-size: 16px;" class="col text-dark" id="jobRole"></span>
                                </div>
                                <div class="row">
                                    <span class="col-4 text-dark text-sm">Project Name</span>
                                    <span class="col-0 text-sm">:</span>
                                    <span class="col text-dark text-sm" id="compName"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="card mt-3 mb-4">
    <div class="card-body">
        <h5 class="mb-2">Time Sheet</h5>
        <button style="background-color:#624DE3;  font-size: 12px;" type="button" class="btn btn-sm text-light mb-2" id="newActivity" data-toggle="modal" data-target="#timeSheetModal" onclick="clearScreen();">
            + Add Activity
        </button>
        <table id="timeSheetTable" class="table table-bordered w-100" style="font-size:13px; color:black">
            <thead style="background-color:#FFFFFF">
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Activity Detail</th>
                    <th scope="col">Flag</th>
                    <th scope="col">Category</th>
                    <th scope="col">Status</th>
                    <th scope="col">Known By</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <br /><h6><strong>Notes</strong></h6>
        <div class="row ml-0">
            <div class="col color-bg bullet">
                <h6>Remaining Contract :</h6>
                <small>
                    <ul>
                        <li class="list-item">
                            <span class="badge badge-danger" style="font-size: 10px;">Red</span>
                            <span class="bullet-text">: Displaying public holidays or national holidays.</span>
                        </li>
                        <li class="list-item">
                            <span class="badge beige-bg" style="font-size: 10px;">Beige</span>
                            <span class="bullet-text">: Displaying Overtime, requires admin approval.</span>
                        </li>
                    </ul>
                </small>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="timeSheetModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#90d6e8">
                <h5 class="modal-title white-text w-100 font-weight-bold" style="color:black">Time Sheet</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="clearScreen();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>                    
                    <div class="row mb-2">
                        <div class="col">
                            <label for="message-text" class="col-form-label">Flag</label>
                            <select class="form-control form-control-sm" id="flag" required>
                                <option value="WFO">WFO</option>
                                <option value="WFH">WFH</option>
                                <option value="Sick">Sick</option>
                                <option value="Leave">Leave</option>
                            </select>
                            <span class="error-message" style="color: red; display: none;">This field is required!</span>
                        </div>
                        <div class="col">
                            <label for="message-text" class="col-form-label">Date</label>
                            <input type="date" class="form-control form-control-sm" id="inputDate" required> </input>
                            <span class="error-message" style="color: red; display: none;">This field is required!</span>
                        </div>
                    </div>

                    <div id="detail-activity">
                        <div class="row mb-2">
                            <div class="col">
                                <label for="message-text" class="col-form-label">Category</label>
                                <select class="form-control form-control-sm" id="category" required>
                                    <option select disabled>Choose category</option>
                                    <option value="Meeting/Discussion">Meeting/Discussion</option>
                                    <option value="Coding">Coding</option>
                                    <option value="Testing">Testing</option>
                                    <option value="UAT/SIT">UAT/SIT</option>
                                    <option value="Ticketing">Ticketing</option>
                                    <option value="Docummentation">Docummentation</option>
                                    <option value="Bug/Issue Fix">Bug/Issue Fix</option>
                                    <option value="Support">Support</option>
                                    <option value="Review">Review</option>
                                    <option value="GoLive/Deploy">GoLive/Deploy</option>
                                    <option value="Others">Others</option>
                                </select>
                                <span class="error-message" style="color: red; display: none;">This field is required!</span>
                            </div>
                            <div class="col">
                                <label for="message-text" class="col-form-label">Status</label>
                                <select class="form-control form-control-sm" id="status" required>
                                    <option selected disabled>Choose status</option>
                                    <option value="In Progress">In Progress</option>
                                    <option value="Pending">Pending</option>
                                    <option value="Done">Done</option>
                                    <option value="Need Approval">Need Approval</option>
                                </select>
                                <span class="error-message" style="color: red; display: none;">This field is required!</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Activity</label>
                            <textarea class="form-control" id="activity" required></textarea>
                            <span class="error-message" style="color: red; display: none;">This field is required!</span>

                            <input class="form-control form-control-sm" type="text" id="timeSheetId" hidden>
                            <input class="form-control form-control-sm" type="text" id="lastPlacementId" hidden>

                        </div>

                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Known By</label>
                            <input class="form-control form-control-sm" type="text" id="knownBy" required>
                            <span class="error-message" style="color: red; display: none;">This field is required!</span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" id="Update" onclick="Update();">Update</button>
                <button type="button" class="btn btn-success" id="Save" onclick="save();">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="clearScreen();">Close</button>
            </div>
        </div>
    </div>
</div>

@section script
{
    <script src="~/js/TimeSheetEmp.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script src="https://cdn.rawgit.com/ashl1/datatables-rowsgroup/v1.0.0/dataTables.rowsGroup.js"></script>  
}