﻿@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/LayoutAdmin.cshtml";
}

<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">


<div class="card mt-2 mb-3">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#" id="oppurtunity">Oppurtunity</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="momSales">MOM Sales</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="reOpen">Re Open</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="bestView">Best view</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="goals">Goals</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="lose">Loss / Unclear </a>
        </li>
    </ul>
    <div class="card-header">
        <div class="row">
            <div class="col"><h5 class="mb-2 font-weight-bold text-primary" id="text-show">Sales Projection</h5></div>
        </div>
    </div>
    <div class="card-body">
        <button style="background-color:#624DE3; font-size: 12px;" type="button" class="btn btn-sm text-light mb-2" id="addSalesProjection" data-toggle="modal" data-target="#Modal-addSalesProjection" onclick="ClearScreen();">
            + Add Sales Projection
        </button>
        <table id="salesProjectionTable" class="table table-striped table-bordered text-nowrap w-100 timeSheetTable" style="font-size:13px; color:black; display: none ">
            <thead style="background-color:#FFFFFF">
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Company Name</th>
                    <th scope="col">Company Origin</th>
                    <th scope="col">Entry Date</th>
                    <th scope="col">Industry</th>
                    <th scope="col">PIC</th>
                    <th scope="col">Priority</th>
                    <th scope="col">Authority</th>
                    <th scope="col">Attendees</th>
                    <th scope="col">Request By</th>
                    <th scope="col">Current news</th>
                    <th scope="col">hiring needs</th>
                    <th scope="col">Timeline</th>
                    <th scope="col">Hiring Process</th>
                    <th scope="col">Work location</th>
                    <th scope="col">notes</th>
                    <th scope="col">Contract Periode</th>
                    <th scope="col">Ratecard</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
        </table>

        <table id="salesProjectionTableBestViews" class="table table-striped table-bordered text-nowrap w-100 timeSheetTable" style="font-size:13px; color:black; display:none">
            <thead style="background-color:#FFFFFF">
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Company Name</th>
                    <th scope="col">Industry</th>
                    <th scope="col">Position</th>
                    <th scope="col">HeadCount</th>
                    <th scope="col">Year Started</th>
                    <th scope="col">Status Project</th>
                    <th scope="col">Contract Periode</th>
                    <th scope="col">Ratecard</th>
                    <th scope="col">Sales Projection</th>
                    <th scope="col">COGS</th>
                    <th scope="col">GPM</th>
                    <th scope="col">SO Number</th>
                    <th scope="col">Notes</th>

                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Total</th>
                    <th colspan="10"></th>
                    <th>Total GPM</th>
                    <th colspan="3"></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="Modal-addSalesProjection" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#90d6e8">
                <h5 class="modal-title white-text w-100 font-weight-bold" style="color:black">Sales Projection</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="clearScreen();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input class="form-control form-control-sm" type="hidden" id="tableName">
                    <input class="form-control form-control-sm" type="hidden" id="id">
                    <input class="form-control form-control-sm" type="hidden" id="entryDate">
                    <div class="row mb-2">
                        <div class="col form-group" id="col-select-client">
                            <label for="message-text" class="col-form-label">Client</label>
                            <span class="text-danger">*</span>
                            <select class="form-control form-control-sm selectedResource" id="clientId" focus required>
                                <option value="" selected disabled>Select Client</option>
                            </select>
                            <span class="error-message" style="color: red; display: none;">This field is required!</span>
                        </div>
                        <div class="col form-group">
                            <label for="fullName" class="col-form-label">Sales 1:</label>
                            <input type="text" class="form-control" id="sales1" readonly disabled>
                        </div>
                        <div class="col form-group">
                            <label for="compName" class="col-form-label">Sales 2:</label>
                            <input type="text" class="form-control" id="sales2" readonly disabled>
                        </div>
                    </div>
                    <div class="row mb-2 justify-content-end">
                        <div class="col-4">
                            <label for="message-text" class="col-form-label">Sales Contact</label>
                            <input type="text" oninput="this.value = this.value.replace(/\D/g, '');" class="form-control" id="salesContact1" maxlength="13" minlength="10" placeholder="Enter Sales Contact" pattern="0\d{0,13}" readonly disabled>
                        </div>
                        <div class="col-4">
                            <label for="message-text" class="col-form-label">Sales Contact</label>
                            <input type="text" oninput="this.value = this.value.replace(/\D/g, '');" class="form-control" id="salesContact2" maxlength="13" minlength="10" placeholder="Enter Sales Contact" pattern="0\d{0,13}" readonly disabled>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col">
                            <label for="message-text" class="col-form-label">Company Name</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Enter Company Name" id="nameOfClient" readonly disabled>
                        </div>
                        <div class="col">
                            <label for="message-text" class="col-form-label">Company Origin</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Enter Company Origin" id="companyOrigin" readonly disabled>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col">
                            <label for="message-text" class="col-form-label">PIC Client</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Enter PIC Client" id="picClient" readonly disabled>
                        </div>
                        <div class="col">
                            <label for="message-text" class="col-form-label">Authority</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Enter Authority" id="authority" readonly disabled>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col">
                            <label for="message-text" class="col-form-label">PIC Client Contact</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Enter PIC Client Contact" id="clientContact" readonly disabled>
                        </div>
                        <div class="col">
                            <label for="message-text" class="col-form-label">Industry</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Enter Industry" id="industry" readonly disabled>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col">
                            <label for="message-text" class="col-form-label">Attendees</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Enter Attendees" oninput="this.value = this.value.replace(/[^a-zA-Z0-9 ]/g, '');" id="attendees" required>
                            <span class="error-message" style="color: red; display: none;">This field is required!</span>
                        </div>

                        <div class="col" id="colRequestBy">
                            <label for="message-text" class="col-form-label">Request By</label>
                            <span class="text-danger">*</span>
                            <select class="form-control form-control-sm" id="requestBy" required>
                                <option value="" selected disabled>Choose status</option>
                                <option value="Internal">Internal</option>
                                <option value="External">External</option>
                            </select>
                            <span class="error-message" style="color: red; display: none;">This field is required!</span>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col">
                            <label for="message-text" class="col-form-label">Current News</label>
                            <textarea class="form-control" rows="3" placeholder="Enter Current News" oninput="this.value = this.value.replace(/[^a-zA-Z0-9 ]/g, '');" id="currentNews" required></textarea>
                            <span class="error-message" style="color: red; display: none;">This field is required!</span>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col">
                            <label for="message-text" class="col-form-label">Hiring Needs</label>
                            <textarea class="form-control" rows="3" placeholder="Enter Hiring Needs" oninput="this.value = this.value.replace(/[^a-zA-Z0-9 ]/g, '');" id="hiringNeeds" required></textarea>
                            <span class="error-message" style="color: red; display: none;">This field is required!</span>
                        </div>
                    </div>
                    <div class="row mb-2">
                        
                        <div class="col">
                            <label for="message-text" class="col-form-label">Hiring Process</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Enter Hiring Process" oninput="this.value = this.value.replace(/[^a-zA-Z0-9 ]/g, '');" id="hiringProcess" required>
                            <span class="error-message" style="color: red; display: none;">This field is required!</span>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col">
                            <label for="message-text" class="col-form-label">Timeline</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Enter Timeline" oninput="this.value = this.value.replace(/[^a-zA-Z0-9 ]/g, '');" id="timeline" required>
                            <span class="error-message" style="color: red; display: none;">This field is required!</span>
                        </div>
                        
                    </div>
                    <div class="row mb-2">
                        <div class="col">
                            <label for="message-text" class="col-form-label">Work location</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Enter Work location" id="workLocation" oninput="this.value = this.value.replace(/[^a-zA-Z0-9 ]/g, '');" required>
                            <span class="error-message" style="color: red; display: none;">This field is required!</span>
                        </div>
                        <div class="col">
                            <label for="message-text" class="col-form-label">Contract Periode</label>
                            <input class="form-control form-control-sm" type="text" placeholder="Enter Contract Periode" oninput="this.value = this.value.replace(/[^a-zA-Z0-9 ]/g, '');" id="contractPeriode" required>
                            <span class="error-message" style="color: red; display: none;">This field is required!</span>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col" id="colPriority">
                            <label for="message-text" class="col-form-label">Priority</label>
                            <span class="text-danger">*</span>
                            <select class="form-control form-control-sm" id="priority" required>
                                <option value="" selected disabled>Choose Priority</option>
                                <option value="High">High</option>
                                <option value="Medium">Medium</option>
                                <option value="Low">Low</option>
                            </select>
                            <span class="error-message" style="color: red; display: none;">This field is required!</span>
                        </div>
                        <div class="col" id="colStatus">
                            <label for="message-text" class="col-form-label">Status</label>
                            <span class="text-danger">*</span>
                            <select class="form-control form-control-sm" id="status" required>
                                <option value="" selected disabled>Choose Status</option>
                                <option value="SchedulingMeeting">Scheduling Meeting</option>
                                <option value="MeetingDone">Meeting Done</option>
                                <option value="Ratecardsent">Ratecardsent</option>
                                <option value="CVsent">CVsent</option>
                            </select>
                            <span class="error-message" style="color: red; display: none;">This field is required!</span>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col">
                            <label for="message-text" class="col-form-label">Ratecard</label>
                            <input class="form-control form-control-sm" type="text" placeholder="Enter Ratecard" id="rateCard" oninput="this.value = this.value.replace(/[^a-zA-Z0-9 ]/g, '');" required>
                            <span class="error-message" style="color: red; display: none;">This field is required!</span>
                        </div>
                        <div class="col" id="colStatusPro">
                            <label for="message-text" class="col-form-label">Status Projection</label>
                            <select class="form-control form-control-sm" id="projectStatus">
                                <option value="" selected disabled>Choose Status Projection</option>
                                <option value="Hold">Oppurtunity</option>
                                <option value="Open">MOM Sales</option>
                                <option value="Re Open">Re Open</option>
                                <option value="Best View">Best View</option>
                                <option value="Close Win">Close Win</option>
                                <option value="Close Lose">Close Lose</option>
                            </select>
                            <span class="error-message" style="color: red; display: none;">This field is required!</span>
                        </div>
                    </div>
                    <section id="fieldBestView" style="display:none">
                        <div class="row mb-2">
                            <div class="col">
                                <label for="message-text" class="col-form-label">Year Started</label>
                                <input class="form-control form-control-sm" type="text" placeholder="Enter Year Started" id="startedYear" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');">
                                <span class="error-message" style="color: red; display: none;">This field is required!</span>
                            </div>
                            <div class="col">
                                <label for="message-text" class="col-form-label">Project Type</label>
                                <select class="form-control form-control-sm" id="projectType">
                                    <option value="" selected disabled>Choose Type</option>
                                    <option value="Tender">Tender</option>
                                    <option value="Direct">Direct</option>

                                </select>
                                <span class="error-message" style="color: red; display: none;">This field is required!</span>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <label for="message-text" class="col-form-label">Sales Projection</label>
                                <input class="form-control form-control-sm" type="number" placeholder="Enter Sales Projection" id="salesProject" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');">
                                <span class="error-message" style="color: red; display: none;">This field is required!</span>
                            </div>
                        </div>
                    </section>
                    <section id="fieldGoals" style="display:none">
                        <div class="row mb-2">
                            <div class="col">
                                <label for="message-text" class="col-form-label">COGS</label>
                                <input class="form-control form-control-sm" type="text" placeholder="Enter COGS" id="cogs" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');">
                                <span class="error-message" style="color: red; display: none;">This field is required!</span>
                            </div>
                            <div class="col">
                                <label for="message-text" class="col-form-label">SO Number</label>
                                <input class="form-control form-control-sm" type="text" placeholder="Enter SO Number" id="soNumber" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');">
                                <span class="error-message" style="color: red; display: none;">This field is required!</span>
                            </div>
                        </div>
                    </section>
                    <div class="row mb-2">
                        
                        <div class="col">
                            <label for="message-text" class="col-form-label">Notes</label>
                            <textarea class="form-control" id="notes" rows="3" placeholder="Enter Notes" ></textarea>
                            @* <span class="error-message" style="color: red; display: none;">This field is required!</span> *@
                        </div>
                            
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="Save" onclick="Save();">Save</button>
                <button type="button" class="btn btn-warning" id="Update" onclick="Update();" style="display:none">Update</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick=" ClearScreen()">Close</button>
            </div>
        </div>
    </div>
</div>



<!-- Modal Activity -->
<div class="modal fade" id="activityModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sales Activity</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" id="formActivity" novalidate>
                    <div class="form-row">

                        <label for="validationCustom01">Date</label>
                        <span class="text-danger">*</span>
                        <input id="activityId" hidden>
                        <input id="spId" hidden>
                        <input type="date" class="form-control" id="dateActivity" required>
                        <div class="invalid-feedback">
                            This field is required!
                        </div>


                    </div>
                    <div class="form-row mt-3">

                        <label for="validationCustom02">Activity</label>
                        <textarea type="text" class="form-control" id="inputActivity" required></textarea>
                        <div class="invalid-feedback">
                            This field is required!
                        </div>

                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="saveActivity()">Save changes</button>
            </div>
        </div>
    </div>
</div>


<script src="~/js/ManageEmployee/moment.min.js"></script>
<script src="~/js/salesProjection.js"></script>