﻿@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/LayoutAdmin.cshtml";
}

<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

<div class="card">
    <div class="row">
        <div class="col"><h6 style="font-family:comfortaa; color:#0D6EFD;" class="ml-3 mt-2 font-weight-bold" id="text-show">Recap Overtime report</h6></div>


    </div>

    <div class="card shadow no-border mx-3 mb-3" style="width: 30rem;">
        <div class="card-body p-2">
            <div class="media-body text-left pt-0 m-0 pl-1">
                <form>
                    <div class="row p-2 m-0">
                        <span style="font-size: 15px;" class="col-4 text-dark text-sm">Company Name</span>
                        <span style="font-size: 15px;" class="col-0 text-sm">:</span>
                        <select style="font-size: 15px; color: #888;" class="col p-1 pl-1 ml-2 mb-1 custom-select custom-select-sm pl-" id="companySelect">
                            <option value="" selected disabled hidden>Choose...</option>
                        </select>
                    </div>
                    <div class="row p-2 m-0">
                        <span style="font-size: 16px;" class="col-4 text-dark text-sm">Month</span>
                        <span style="font-size: 16px;" class="col-0 text-sm">:</span>
                        <span style="font-size: 16px;" class="col text-dark text-sm month">

                            <input type="month" class="text-dark p-0 m-0" id="month" style="font-size: 16px; outline: none; border:none">

                        </span>
                    </div>
                    <div class="row p-2 m-0">
                        <span style="font-size: 15px;" class="col-4 text-dark text-sm">Select Name</span>
                        <span style="font-size: 15px;" class="col-0 text-sm">:</span>
                        <select style="font-size: 15px; color: #888;" class="col p-0 pl-1 ml-2 mb-1 custom-select custom-select-sm pl-" id="accountNameFilter">
                            <option value="" selected disabled hidden>Choose...</option>
                        </select>
                    </div>

                    <div class="d-flex flex-row-reverse">
                        <button class="btn btn-sm text-light" style="background-color:#0D6EFD" id="submitBtn"> Submit </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<div class="alert alert-warning" role="alert" id="nullInput">
    Submit company name and period to see the report
</div>



<div class="card mt-2 mb-3" id="reportTimesheet">
    <div class="card-header">
        <div class="row justify-content-between">
            @*<div class="col"><h6 class="mb-0 pb-0">Time Sheet Report</h6></div>*@
            <div class="col"><h6 style="font-family:comfortaa; color:#0D6EFD;" class="mt-2 mr-2 font-weight-bold" id="text-show">Recap Overtime report</h6></div>
            <div class="col-auto">
                <a href="@Url.Action("GeneratePdf", "TimeSheetPdf", new { companyName = "", month = "" })" class="btn btn-sm btn-success" id="btn-report" style="display:none">
                    <i class="fa fa-download"></i> Download Report
                </a>

            </div>

        </div>
    </div>
    <div class="card-body">
        <table id="reportTimesheetTable" class="table table-striped table-bordered text-nowrap w-100 timeSheetTable" style="font-size:13px; color:black">
            <thead style="background-color:#FFFFFF">
                <tr>
                    <th width="35px">No</th>

                    <th scope="col">Name</th>
                    <th scope="col">WFO</th>
                    <th scope="col">WFH</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<br>

<div class="modal fade" id="informationAccountModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="color: rgb(31, 31, 31)">Recap Timesheet Employe Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card" id="tableTimeSheet">
                    <div class="card-header">
                        <div class="row p-2">
                            <h5 id="namaPegawai"></h5>
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="timeSheetTable" class="table table-bordered timeSheetTable" style="width:100%">
                            <thead style="background-color:#FFFFFF;">
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">Activity Detail</th>
                                    <th scope="col">Flag</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Known By</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="card mt-2 mb-3">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#" id="needApproval">Approval</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="historyApproval">History</a>
        </li>
       </ul>
    <div class="card-header">
        <div class="row">
            <div class="col"><h5 style="font-family:comfortaa; color:#0D6EFD;" class="mb-1 font-weight-bold" id="text-show">Timesheet Approval</h5></div>
        </div>
    </div>
    <div class="card-body">
   
        <table id="ApprovalTable" class="table table-striped table-bordered text-nowrap w-100 timeSheetTable" style="font-size:13px; color:black">
            <thead style="background-color:#FFFFFF">
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Nama</th>
                    <th scope="col">Date</th>
                    <th scope="col">Activity Detail</th>
                    <th scope="col">Flag</th>
                    <th scope="col">Category</th>
                    <th scope="col">Status</th>
                    <th scope="col">Known By</th>
                    <th scope="col">Status Approval</th>
                    <th scope="col">Notes</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ApprovalModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Approval</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="clearScreen();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row mb-2">
                        <div class="col">
                            <label for="fullName" class="col-form-label">Fullname:</label>
                            <input type="text" class="form-control" id="fullName" readonly>
                        </div>
                        <div class="col">
                            <label for="compName" class="col-form-label">Client Name:</label>
                            <input type="text" class="form-control" id="compName" readonly>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col">
                            <label for="message-text" class="col-form-label">Flag</label>
                            <select class="form-control form-control-sm" id="flag">
                                <option value="WFO">WFO</option>
                                <option value="WFH">WFH</option>
                                <option value="Sick">Sick</option>
                                <option value="Leave">Leave</option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="message-text" class="col-form-label">Date</label>
                            <input type="date" class="form-control form-control-sm" id="inputDate">
                        </div>
                    </div>

                    <div id="detail-activity">
                        <div class="row mb-2">
                            <div class="col">
                                <label for="message-text" class="col-form-label">Category</label>
                                <select class="form-control form-control-sm" id="category">
                                    <option select disabled>Choose category</option>
                                    <option value="Meeting/Discussion">Meeting/Discussion</option>
                                    <option value="Coding">Coding</option>
                                    <option value="Testing">Testing</option>
                                    <option value="UAT/SIT">UAT/SIT</option>
                                    <option value="Ticketing">Ticketing</option>
                                    <option value="Docummentation">Docummentation</option>
                                    <option value="Bug/Issue Fix">Bug/Issue Fix</option>
                                    <option value="Support">Support</option>
                                    <option value="Review">Review</option>
                                    <option value="GoLive/Deploy">GoLive/Deploy</option>
                                    <option value="Others">Others</option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="message-text" class="col-form-label">Status</label>
                                <select class="form-control form-control-sm" id="status">
                                    <option selected disabled>Choose status</option>
                                    <option value="In Progress">In Progress</option>
                                    <option value="Pending">Pending</option>
                                    <option value="Done">Done</option>
                                    <option value="Need Approval">Need Approval</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Activity</label>
                            <textarea class="form-control" id="activity"></textarea>

                            <input class="form-control form-control-sm" type="text" id="approvalId" hidden>
                            <input class="form-control form-control-sm" type="text" id="lastPlacementId" hidden>
                            <input class="form-control form-control-sm" type="text" id="accountId" hidden>

                        </div>

                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Known By</label>
                            <input class="form-control form-control-sm" type="text" id="knownBy">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Status Approval</label>
                            <select class="form-control form-control-sm" id="statusApproval" required>
                                <option selected disabled>Choose status</option>
                                <option value="On Progress">On Progress</option>
                                <option value="Approve">Approved</option>
                                <option value="Reject">Reject</option>
                            </select>
                            <span class="error-message" style="color: red; display: none;">This field is required!</span>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Notes</label>
                            <textarea class="form-control" id="notes" rows="3"></textarea>
                        </div>
                        <input type="hidden" id="prevStatusApproval" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" id="Update" onclick="Update();">Update</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="clearScreen();">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/approval.js"></script>
<script src="~/js/RecapOvertime.js"></script>