﻿@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/LayoutAdmin.cshtml";
}

<style>
    .cards {
        font-family: Nunito,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        color: #858796;
        background-color: #fff;
    }

    .cards-header {
        padding: .75rem 1.25rem;
        margin-bottom: 0;
        background-color: #f8f9fc;
        border-bottom: 1px solid #e3e6f0;
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #F7F6FE;
    }

    .table-striped tbody tr:nth-of-type(even) {
        background-color: #FFFFFF;
    }

    .table-bordered th, .table-bordered td {
        border: 1px solid #eeeeee;
    }

    label {
        display: inline-block;
        margin-bottom: .5rem;
        font-size: 14px;
    }

    th {
        font-size: 14px;
    }

    .table.dataTable {
        margin-top: 0 !important;
    }

    .dataTables_length {
        font-size: 14px; /* Sesuaikan dengan ukuran yang Anda inginkan */
    }

    .dataTables_filter input[type="search"] {
        font-size: 12px; /* Atur ukuran font sesuai kebutuhan */
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button {
        font-size: 13px;
    }

    div.dataTables_wrapper div.dataTables_info {
        font-size: 13.5px;
    }

    table.dataTable > thead > tr > th, table.dataTable > thead > tr > td {
        font-size: 14px;
    }

    table.table-bordered.dataTable th, table.table-bordered.dataTable td {
        font-size: 14px;
    }

    /* Badge Styles with Pastel Colors and Black Text */

    .form-control {
        height: 31px;
    }

    select.form-control {
        font-size: 14.5px;
    }

    .dataTables_info {
        font-size: 14.5px;
    }

    .table.dataTable {
        margin-top: 0 !important;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button.previous,
    .dataTables_wrapper .dataTables_paginate .paginate_button.next {
        font-size: 14.5px;
    }

    .paginate_button {
        font-size: 14px;
        padding: 4px 8px;
    }

    .customWrap {
        white-space: normal !important;
        word-wrap: break-word;
    }

    .expand-content {
        cursor: pointer;
    }

        .expand-content:hover {
            color: darkblue !important;
        }

    .closeBtn:hover {
        background-color: #e3e3e3;
    }

</style>

<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

<div class="card mt-2 mb-3">
    <div class="card-header">
        <div class="row">
            <div class="col"><h5 class="mb-2 font-weight-bold text-primary">Overtime Approval</h5></div>
        </div>
    </div>
    <div class="card-body" style="color: #858796;">
        <table id="ApprovalTable" class="table table-striped table-bordered text-nowrap w-100 timeSheetTable" style="font-size:13px; color:black;" cellspacing="0">
            <thead style="color: #858796;>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Date</th>
                    <th scope="col">Activity Detail</th>
                    <th scope="col">Flag</th>
                    <th scope="col">Category</th>
                    <th scope="col">Status</th>
                    <th scope="col">Known By</th>
                    <th scope="col">Status Approval</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ApprovalModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#90d6e8">
                <h5 class="modal-title white-text w-100 font-weight-bold" style="color:black">Approval</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="clearScreen();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row mb-2">
                        <div class="col">
                            <label for="fullName" class="col-form-label">Fullname:</label>
                            <input type="text" class="form-control" id="fullName" readonly>
                        </div>
                        <div class="col">
                            <label for="compName" class="col-form-label">Client Name:</label>
                            <input type="text" class="form-control" id="compName" readonly>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col">
                            <label for="message-text" class="col-form-label">Flag</label>
                            <select class="form-control form-control-sm" id="flag">
                                <option value="WFO">WFO</option>
                                <option value="WFH">WFH</option>
                                <option value="Sick">Sick</option>
                                <option value="Leave">Leave</option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="message-text" class="col-form-label">Date</label>
                            <input type="date" class="form-control form-control-sm" id="inputDate">
                        </div>
                    </div>

                    <div id="detail-activity">
                        <div class="row mb-2">
                            <div class="col">
                                <label for="message-text" class="col-form-label">Category</label>
                                <select class="form-control form-control-sm" id="category">
                                    <option select disabled>Choose category</option>
                                    <option value="Meeting/Discussion">Meeting/Discussion</option>
                                    <option value="Coding">Coding</option>
                                    <option value="Testing">Testing</option>
                                    <option value="UAT/SIT">UAT/SIT</option>
                                    <option value="Ticketing">Ticketing</option>
                                    <option value="Docummentation">Docummentation</option>
                                    <option value="Bug/Issue Fix">Bug/Issue Fix</option>
                                    <option value="Support">Support</option>
                                    <option value="Review">Review</option>
                                    <option value="GoLive/Deploy">GoLive/Deploy</option>
                                    <option value="Others">Others</option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="message-text" class="col-form-label">Status</label>
                                <select class="form-control form-control-sm" id="status">
                                    <option selected disabled>Choose status</option>
                                    <option value="In Progress">In Progress</option>
                                    <option value="Pending">Pending</option>
                                    <option value="Done">Done</option>
                                    <option value="Need Approval">Need Approval</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Activity</label>
                            <textarea class="form-control" id="activity"></textarea>

                            <input class="form-control form-control-sm" type="text" id="approvalId" hidden>
                            <input class="form-control form-control-sm" type="text" id="lastPlacementId" hidden>
                            <input class="form-control form-control-sm" type="text" id="accountId" hidden>

                        </div>

                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Known By</label>
                            <input class="form-control form-control-sm" type="text" id="knownBy">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Status Approval</label>
                            <select class="form-control form-control-sm" id="statusApproval" required>
                                <option selected disabled>Choose status</option>
                                <option value="On Progress">On Progress</option>
                                <option value="Approve">Approve</option>
                                <option value="Reject">Reject</option>
                            </select>
                            <span class="error-message" style="color: red; display: none;">This field is required!</span>
                        </div>
                        <input type="hidden" id="prevStatusApproval" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" id="Update" onclick="Update();">Update</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="clearScreen();">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/approval.js"></script>