@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/LayoutAdmin.cshtml";
}


<style>
    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #F7F6FE; /* Warna latar belakang untuk baris ganjil */
    }

    .table-striped tbody tr:nth-of-type(even) {
        background-color: #FFFFFF; /* Warna latar belakang untuk baris genap */
    }

    .modal.positionModal:nth-of-type(odd) {
        z-index: 1052 !important;
    }

    .modal-backdrop.positionModal.show:nth-of-type(even) {
        z-index: 1051 !important;
    }

</style>

<!-- /.card-header -->
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h5 class="m-1 font-weight-bold text-primary">Client Table</h5>
            </div>
            <div class="col">
                <button style="background-color:#624DE3; float: right; font-size: 12px;" type="button" class="btn text-light mb-2 btn-add-client" data-toggle="modal" data-target="#Modal" onclick="ClearScreen();">
                    + Add Client
                </button>
            </div>
        </div>
    </div>
    <div class="card-body">

        <table id="tbDataCleint" class="table table-striped w-100" style="font-size:14px; color:black">
            <thead style="background-color:#FFFFFF">
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Client Name</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
        </table>

        @*Modal Client*@
        <div class="modal fade " id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><b>Client</b></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" id="clientId" hidden>
                            </div>
                            <div class="form-group">
                                <label for="ClientName">Client Name</label>
                                <input type="text" class="form-control" id="clientName" oninput="handleInput(event, this);" onpaste="handleInput(event, this);" placeholder="Enter Client Name" required_>
                                <span class="error-message" style="color: red; display: none;">This field is required!</span>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" id="Save" onclick="Save();">Save</button>
                        <button type="button" class="btn btn-warning" id="Update" onclick="Update();">Update</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" onclick=" ClearScreen()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*Modal Position Information*@
<!-- Modal -->
<div class="modal fade" id="informationClientModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark" id="modalTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="clearData();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="sales-info">
                            <div class="row" style="margin-bottom: -12px;">
                                <div class="col-3">
                                    <p><strong>Sales Name</strong></p>
                                </div>
                                  <div class="col-0">
                                    <p><strong>:</strong></p>
                                </div>
                                <div class="col-7">
                                    <p id="salesName">Jhon Dao</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <p><strong>Contact</strong></p>
                                </div>
                                <div class="col-0">
                                    <p><strong>:</strong></p>
                                </div>
                                <div class="col-7">
                                    <p id="salesContact">0891821821</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           
                <div class="row justify-content-between">
                    <span class="col-4 text-left">
                        <button style="background-color:#624DE3;  font-size: 12px;" type="button" class="btn btn-sm text-light mb-2 btn-new-position" data-toggle="modal" data-target="#positionModal" onclick="clearScreenPosition();">
                            + New Position
                        </button>
                    </span>
                    <span class="col-4 text-right">
                        <input type="checkbox" class="form-check-input" id="showArchive" name="showArchive" value="False">
                        <span class="status-indicator_" style="font-size: smaller">Show Archive Position</span>
                    </span>
                 
                </div>
                <div class="row" id="dataPositionContainer">

                
                        @*Content Position in JS*@
                 

                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="clearData();">Close</button>
            </div>
        </div>
    </div>
</div>

@*CRUD Position*@
<!-- Modal -->
<div class="modal positionModal" id="positionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><b>Position</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="needs-validation">
                        
                    <input type="text" class="form-control" id="client_Id" hidden>
                    <input type="text" class="form-control" id="positionId" hidden>

                    <div class="row">
                        <div class="col">
                            <label for="ClientName">Position Name</label>
                            <input type="text" class="form-control form-control-sm" id="positionName" oninput="handleInput(event, this);" onpaste="handleInput(event, this);" placeholder="Enter Position Name" required-pos>
                            <div class="invalid-feedback">
                                This field is required.
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="message-text" class="col-form-label">Level</label>
                            <select class="custom-select custom-select-sm" id="positionLevel" required-pos>
                                <option selected disabled value="">Choose...</option>
                                <option value="Fresh Graduate">Fresh Graduate</option>
                                <option value="Junior">Junior</option>
                                <option value="Middle">Middle</option>
                                <option value="Senior">Senior</option>
                            </select>
                            <div class="invalid-feedback">
                                This field is required.
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="message-text" class="col-form-label">Quantity</label>

                            <input type="number" class="form-control form-control-sm" id="positionQuantity" oninput="handleInput(event, this);" onpaste="handleInput(event, this);" placeholder="Number of positions required" required-pos>

                            <div class="invalid-feedback">
                                This field is required.
                            </div>
                        </div>
                        <div class="col">
                            <label for="message-text" class="col-form-label">Status</label>
                            <select class="custom-select custom-select-sm" id="positionStatus" required-pos>
                                <option selected disabled value="">Choose...</option>
                                <option value="Open">Open</option>
                                <option value="Hold">Hold</option>
                                <option value="Closed">Closed</option>
                                <option value="Fullfill">Fullfill</option>
                                <option value="Archive">Archive</option>
                            </select>
                            <div class="invalid-feedback">
                                This field is required.
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-2">
                        <label for="">Notes</label>
                        <textarea type="text" class="form-control form-control-sm" id="positionNotes" oninput="handleInput(event, this);" onpaste="handleInput(event, this);" placeholder=""></textarea>
                        <div class="invalid-feedback">
                            This field is required.
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="savePosition" onclick="savePosition();">Save</button>
                <button type="button" class="btn btn-warning" id="updatePosition" onclick="updatePosition();">Update</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick=" clearScreenPosition();">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="~/js/ClientName.js"></script>