@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/LayoutAdmin.cshtml";
}
<style>

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #F7F6FE; /* Warna latar belakang untuk baris ganjil */
    }

    .table-striped tbody tr:nth-of-type(even) {
        background-color: #FFFFFF; /* Warna latar belakang untuk baris genap */
    }
    /* Mengurangi ukuran teks "Show [jumlah] entries" */
    #resource_length label {
        font-size: 14px; /* Ganti '12px' dengan ukuran font yang Anda inginkan */
    }

    /* Mengurangi ukuran teks kotak pencarian */
    #resource_filter label {
        font-size: 14px; /* Ganti '12px' dengan ukuran font yang Anda inginkan */
    }

    /* Mengurangi ukuran teks input kotak pencarian */
    #resource_filter input[type="search"] {
        font-size: 14px; /* Ganti '12px' dengan ukuran font yang Anda inginkan */
        height: 26px; /* Sesuaikan tinggi input jika diperlukan */
    }
	#resource td {
    font-size: 12px; /* Ganti dengan ukuran font yang Anda inginkan */

}

	th {
		font-size: 12px;
	}
	
   



</style>

<div class="btn-group mb-2" role="group" aria-label="Basic example">
    <button type="button" class="btn text-light " style="background-color:#D80032">Left</button>
    <button type="button" class="btn text-light" style="background-color:#D80032">Middle</button>
    <button type="button" class="btn text-light" style="background-color:#D80032">Right</button>
</div>
<table id="resource" class="table table-striped table-bordered text-nowrap" style="width:100%; color:black" cellspacing="0">
    <thead>
        <tr>

            <th>Fullname</th>
            <th>Position</th>
            <th>Skillset</th>
            <th>Education</th>
            <th>University</th>
            <th>Domisili</th>
            <th>Birthdate</th>
            <th>Level</th>
            <th>Experience_In_Year</th>
            <th>Filtering_By</th>
            <th>Work_Status</th>
            <th>Notice_Periode</th>
            <th>Financial_Industry</th>
            <th>Raw_CV</th>
            <th>CV_Berca</th>
            <th>English_Level</th>
            <th>Current_Salary</th>
            <th>Expected_Salary</th>
            <th>Negotiable</th>
            <th>Intw_ByRAS</th>
            <th>IntwDate_ByRAS</th>
            <th>Intw_User</th>
            <th>NameOf_User</th>
            <th>IntwDate_User</th>
            <th>Level_Rekom</th>
            <th>Status</th>
            <th>Notes</th>
            <th>Last_Modified</th>
        </tr>
    </thead>
    <tbody>

        <!-- Tambahkan baris-baris data lainnya di sini -->
    </tbody>
</table>



<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/fixedcolumns/4.3.0/js/dataTables.fixedColumns.min.js"></script>



<script>
    $(document).ready(function () {
        $('#resource').DataTable({
			fixedColumns: {
				left: 1,

			},
            scrollX: true,
            processing: true,
            serverSide: true,
			fixedColumns: true,
			
			

            ajax: {
                url: 'https://localhost:7177/api/Shortlist/NonRasDatatable', // Your API endpoint
                type: 'POST',
                contentType: 'application/json',
                data: function (d) {
                    // Customize request parameters here if needed
                    // Example: d.customParam = 'value';
                    return JSON.stringify(d);
                }
            },
			//dom: 'Bfrtip',
		
			columns: [
		
				{
					"data": "fullname"
				},
				{
					"data": "position"
				},
				{
					"data": "skillset"
				},
				{
					"data": "education"
				},
				{
					"data": "university"
				},
				{
					"data": "domisili"
				},
				{
					"data": "birthdate"
				},
				{
					"data": "level"
				},
				{
					"data": "experienceInYear"
				},
				{
					"data": "filteringBy"
				},
				{
					"data": "workStatus"
				},
				{
					"data": "noticePeriode"
				},
				{
					"data": "financialIndustry"
				},
				{
					"data": "rawCv"
				},
				{
					"data": "cvBerca"
				},
				{
					"data": "englishLevel"
				},
				{
					"data": "currentSalary"
				},
				{
					"data": "expectedSalary"
				},
				{
					"data": "negotiable"
				},
				{
					"data": "intwByRas"
				},
				{
					"data": "intwDateByRas"
				},
				{
					"data": "intwUser"
				},
				{
					"data": "nameOfUser"
				},
				{
					"data": "intwDateUser"
				},
				{
					"data": "levelRekom"
				},
				{
					"data": "status"
				},
				{
					"data": "notes"
				},
				{
					"data": "lastModified"
				}
			],
	
		
            searching: true,
			

        });
      
    });
</script>









