@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/LayoutAdmin.cshtml";
}
<style>

    .badge {
        font-size: 12px;
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #F7F6FE;
    }

    .table-striped tbody tr:nth-of-type(even) {
        background-color: #FFFFFF;
    }

    #resource_length label {
        font-size: 14px;
    }

    #resource_filter label {
        font-size: 14px;
    }


    #resource_filter input[type="search"] {
        font-size: 14px;
        height: 26px;
    }


    #resource td {
        font-size: 13px;
    }

    th {
        font-size: 13px;
    }

    /* Badge Styles with Pastel Colors and Black Text */



    .form-control {
        height: 31px;
    }


    select.form-control {
        font-size: 14.5px;
    }


    .dataTables_info {
        font-size: 14.5px;
    }

    .dataTables_filter {
        margin-right: 18px;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button.previous,
    .dataTables_wrapper .dataTables_paginate .paginate_button.next {
        font-size: 14.5px;
    }

    .paginate_button {
        font-size: 14px;
        padding: 4px 8px;
    }

    @@media (min-width: 768px) {
        .dataTables_filter {
            margin-right: 10px;
        }
    }

    /* CSS untuk mengatur lebar kolom Skillset */
    /*table.dataTable tbody td:nth-child(3) {

                                    max-width: 400px;
                                    word-wrap: break-word;
                                    text-overflow: unset;
                                    /*white-space: nowrap;*/


    /*overflow: clip;*/
    }

    */
    /*table.dataTable tbody td:nth-child(3) div {


                                        white-space: normal;
                                        overflow: visible;
                                    }*/

    table.dataTable tbody td:nth-child(14) {
        max-width: 180px;
        word-wrap: break-word;
        /*white-space: nowrap;*/
        text-overflow: ellipsis;
        overflow: hidden;
    }

    table.dataTable tbody td:nth-child(15) {
        max-width: 180px;
        word-wrap: break-word;
        /*white-space: nowrap;*/
        text-overflow: ellipsis;
        overflow: hidden;
    }

</style>


<div>
    <button style="background-color:#624DE3;  font-size: 12px;" type="button" class="btn btn-sm text-light mb-2" data-toggle="modal" data-target="#Modal">
        Add New
    </button>
</div>
<div class="card mb-3 rounded-bottom border-0">

    <nav id="filterNavigation" class="navbar-light navbar-expand-sm" style="background-color: #e3f2fd;">

        @*<ul class="nav nav-tabs">
        <li class="nav-item">
        <a class="nav-link text-sm " id="all" href="#">All</a>
        </li>
        <li class="nav-item">
        <a class="nav-link text-sm " href="#" data-category="Fullstack">Fullstack</a>
        </li>
        <li class="nav-item">
        <a class="nav-link text-sm" href="#" data-category="Frontend">Frontend</a>
        </li>
        <li class="nav-item">
        <a class="nav-link text-sm" href="#" data-category="Backend">Backend</a>
        </li>
        <li class="nav-item">
        <a class="nav-link text-sm" href="#" data-category="Data Science">Data Science</a>
        </li>

        </ul>*@
    </nav>

    <div class="card-body pr-0 pb-1 pl-3">
        <table id="resource" class="table table-striped table-bordered text-nowrap" style="max-width:100%; color:black" cellspacing="0">
            <thead>
                <tr>
                    <th>Fullname</th>
                    <th>Position</th>
                    <th>Skillset</th>
                    <th>Level</th>
                    <th>Education</th>
                    <th>GPA</th>
                    <th>University</th>
                    <th>Domisili</th>
                    <th>Age</th>
                    <th>Experience</th>
                    <th>Filtering by</th>
                    <th>Work Status</th>
                    <th>Notice Periode</th>
                    <th>Financial Industry</th>
                    <th>Raw CV</th>
                    <th>CV Berca</th>
                    <th>English Level</th>
                    <th>Current Salary</th>
                    <th>Expected Salary</th>
                    <th>Negotiable</th>
                    <th>Interview by RAS</th>
                    <th>Interview Date by RAS</th>
                    <th>Name of User</th>
                    <th>Interview User</th>
                    <th>Interview Date by User</th>
                    <th>Level Recommendation</th>
                    <th>Status</th>
                    <th>Notes</th>
                    <th>Last Modified</th>
                </tr>
            </thead>
            <tbody>
                <!-- Tambahkan baris-baris data lainnya di sini -->
            </tbody>
        </table>
    </div>
</div>





@*Modal*@
<div class="modal fade bd-example-modal-lg" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header pt-3  pb-3">
                <h5 class="modal-title" id="exampleModalLabel">Shortlist Candidate</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="nonrasid" hidden>
                    </div>
                    <div class="form-group">
                        <div class="row pl-5 pr-5">
                            <div class="col" style="color: black">Full Name</div>
                            <div class="col-9">
                                <input type="text" class="form-control " id="Name" oninput="handleInput(event, this);" onpaste="handleInput(event, this);" required_>
                                <span class="error-message_" style="color: red; display: none;">This field is required!</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row pl-5 pr-5">
                            <div class="col" style="color: black">Position</div>
                            <div class="col-9">


                                <p class="p-0 m-0">
                                    <select class="position form-control" id="position" name="position[]" multiple="multiple" style="width: 100%;" required>
                                        <option value="Fullstack">Fullstack</option>
                                        <option value="Data Engineer">Data Engineer</option>
                                        <option value="Frontend">Front End</option>
                                        <option value="Backend">Back End</option>
                                        <option value="Data Science">Data Science</option>
                                         <option value="Data Analyst">Data Analyst</option>
                                        <option value="Networking">Networking</option>
                                        <option value="RPA">RPA</option>
                                        <option value="Database Administrator">Database Administrator</option>
                                        <option value="Database Engineer">Database Engineer</option>
                                        <option value="Database Analyst">Database Analyst</option>
                                        <option value="Database Analyst">Manual</option>
                                        <option value="Database Analyst">Automation</option>
                                        <option value="Technical Writer">Technical Writer</option>
                                        <option value="Solution Analyst">Solution Analyst</option>
                                        <option value="Business Analyst">Business Analyst</option>
                                        <option value="Scrum Master">Scrum Master</option>
                                    </select>
                                    <span class="error-message" style="color: red; display: none;">Please select at least one Position.</span>
                                </p>


                            </div>
                        </div>
                    </div>
                    <div class="form-group pl-5 pr-5">
                        <div class="row">
                            <div class="col" style="color: black">Skillset</div>
                            <div class="col-9">
                                <p class="p-0 m-0">

                                    <select class="skillset position form-control" id="skillset" name="skillset[]" multiple="multiple" style="width: 100%;" required>
                                        <option value="Laravel">Laravel</option>
                                        <option value="Yii Framework">Yii Framework</option>
                                        <option value="CodeIgniter">CodeIgniter</option>
                                        <option value="React">React</option>
                                        <option value="Vue">Vue</option>
                                        <option value="Node.js">Node.js</option>
                                        <option value="React Native">React Native</option>
                                        <option value="Next.js">Next.js</option>
                                        <option value="Express.js">Express.js</option>
                                        <option value="Backbone.js">Backbone.js</option>
                                        <option value="Vue.js">Vue.js</option>
                                        <option value="Flask">Flask</option>
                                        <option value="Django">Django</option>
                                        <option value="Falcon">Falcon</option>
                                        <option value="Dash">Dash</option>
                                        <option value="Web2Py">Web2Py</option>
                                        <option value="Hibernate">Hibernate</option>
                                        <option value="Spring">Spring</option>
                                        <option value=".Net Core API">.Net Core API</option>
                                        <option value=".Net Core MVC">.Net Core MVC</option>
                                        <option value="Bootstrap">Bootstrap</option>
                                        <option value="Google Data Studio">Google Data Studio</option>
                                         <option value="Oracle">Oracle</option>
                                         <option value="SQL Server">SQL Server</option>
                                        	

                                    </select>
                                    <span class="error-message" style="color: red; display: none;">Please select at least one Skill Set.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row pl-5 pr-5">
                            <div class="col" style="color: black">Degree</div>
                            <div class="col-9">
                                <input type="text" class="form-control" id="degree" oninput="handleInput(event, this);" onpaste="handleInput(event, this);" required_>
                                <span class="error-message_" style="color: red; display: none;">This field is required!</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row pl-5 pr-5">
                            <div class="col" style="color: black">IPK </div>
                            <div class="col-9">
                                <input type="text" class="form-control" oninput="numeric(this);" onpaste="numeric(this);" id="ipk" required_>
                                <span class="error-message_" style="color: red; display: none;">This field is required!</span>
                                <span class="error-format-ipk" style="color: red; display: none;">Enter the correct GPA!</span>
                       
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row pl-5 pr-5">
                            <div class="col" style="color: black">University </div>
                            <div class="col-9">

                                <select id="UniversityName" class="selectUniversity form-control" required>
                                    <option></option>
                                </select>
                                <span class="error-message-u" style="color: red; display: none;">This field is required!</span>

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row pl-5 pr-5">
                            <div class="col" style="color: black">Domicile</div>
                            <div class="col-9">
                                <input type="text" class="form-control" oninput="handleInput(event, this);" onpaste="handleInput(event, this);" id="domicile">
                                @*<span class="error-message_" style="color: red; display: none;">This field is required!</span>*@
                                @*<p>
                                <select class="selectProvinces form-control" style="width:100%" id="selectProvinces" placeholder="Select Provinces" name="state">
                                <option></option>
                                </select>
                                </p>
                                <p>
                                <select class="selectRegencies form-control" style="width:100%;" id="selectRegencies" placeholder="City ​​or County" name="state">
                                <option></option>
                                </select>
                                <span class="error-message-r" style="color: red; display: none;">This field is required!</span>
                                </p>*@
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row pl-5 pr-5">
                            <div class="col" style="color: black">Birthdate </div>
                            <div class="col-9">
                                <input type="date" class="form-control" id="birthdate">
                                @*<span class="error-message_" style="color: red; display: none;">This field is required!</span>*@
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row pl-5 pr-5">
                            <div class="col" style="color: black">Level</div>
                            <div class="col-9">
                                <select id="level" class="selectLevel form-control" name="state" required_>
                                    <option selected disabled>Choose...</option>
                                    <option value="Fresh Graduate">Fresh Graduate</option>
                                    <option value="Junior">Junior</option>
                                    <option value="Middle">Middle</option>
                                    <option value="Senior">Senior</option>
                                </select>
                                <span class="error-message_" style="color: red; display: none;">This field is required!</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row pl-5 pr-5">
                            <div class="col" style="color: black">Experience</div>
                            <div class="col-9">
                                @*<input type="number" class="form-control" id="experience" required>*@
                                <select id="experience" class="selectExperience form-control" name="state" required_>
                                    <option selected disabled>Choose...</option>
                                    <option value="< 1 Year">< 1 Year</option>
                                    <option value="1 Year">1 Year</option>
                                    <option value="2 Years">2 Years</option>
                                    <option value="3 Years">3 Years</option>
                                    <option value="4 Years">4 Years</option>
                                    <option value="5 Years">5 Years</option>
                                    <option value="> 5 Years">> 5 Years</option>
                                </select>
                                <span class="error-message_" style="color: red; display: none;">This field is required!</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row pl-5 pr-5">
                            <div class="col" style="color: black">Filtering By</div>
                            <div class="col-9">
                                <select id="filteringby" class="selectFiltering form-control" name="state" required_>
                                    <option selected disabled>Choose...</option>
                                    <option value="Recruitment">Recruitment</option>
                                    <option value="RAS">RAS</option>
                                </select>
                                <span class="error-message_" style="color: red; display: none;">This field is required!</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row pl-5 pr-5">
                            <div class="col" style="color: black">Work Status</div>
                            <div class="col-9">
                                @*<div class="form-check">
                                <input type="radio" class="form-check-input" id="Active" name="workstatus" value="Active" required>
                                <label class="form-check-label" for="radio1">Active</label>
                                </div>
                                <div class="form-check">
                                <input type="radio" class="form-check-input" id="Inactive" name="workstatus" value="Inactive" required>
                                <label class="form-check-label" for="radio2">Inactive</label>
                                <span class="error-message_" style="color: red; display: none;">This field is required!</span>
                                </div>*@
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="workstatus" name="workstatus" value="True">
                                    <span class="status-indicator " style="font-size: smaller">Not Working</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row pl-5 pr-5 ">
                            <div class="col" style="color: black">Notice Period</div>
                            <div class="col-9">
                                <input type="text" class="form-control" oninput="handleInput(event, this);" onpaste="handleInput(event, this);" id="notice" required_>

                                <span class="error-message_" style="color: red; display: none;">This field is required!</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row pl-5 pr-5">
                            <div class="col" style="color: black">Financial Industry</div>
                            <div class="col-9">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="financial" name="financial" value="True">
                                    <span class="status-indicator_" style="font-size: smaller">No</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row pl-5 pr-5">
                            <div class="col" style="color: black">Raw CV</div>
                            <div class="col-9">
                                <input type="text" class="form-control" placeholder="https://drive.google.com/" oninput="handleInput(event, this);" onpaste="handleInput(event, this);" id="rawcv" required_>
                                <span class="error-message_" style="color: red; display: none;">This field is required!</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row pl-5 pr-5">
                            <div class="col" style="color: black">Berca CV</div>
                            <div class="col-9">
                                <input type="text" class="form-control" placeholder="https://drive.google.com/" oninput="handleInput(event, this);" onpaste="handleInput(event, this);" id="bercacv" required_>
                                <span class="error-message_" style="color: red; display: none;">This field is required!</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row pl-5 pr-5">
                            <div class="col" style="color: black">English</div>
                            <div class="col-9">
                                <select id="english" class="form-control" name="state">
                                    <option selected disabled>Choose...</option>
                                    <option value="Advanced">Advanced</option>
                                    <option value="Intermediate">Intermediate</option>
                                    <option value="Low">Low</option>
                                </select>
                                <span class="error-message" style="color: red; display: none;">This field is required!</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row pl-5 pr-5">
                            <div class="col" style="color: black">Current Salary</div>
                            <div class="col-9">
                                <input type="text" class="form-control" id="current" onkeyup="formatCurrency(this);" placeholder="Rp ">
                                <span class="error-message_" style="color: red; display: none;">This field is required!</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row pl-5 pr-5">
                            <div class="col" style="color: black">Expected Salary</div>
                            <div class="col-9">
                                <input type="text" class="form-control" id="expected" onkeyup="formatCurrency(this);" placeholder="Rp ">
                                <span class="error-message_" style="color: red; display: none;">This field is required!</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row pl-5 pr-5">
                            <div class="col" style="color: black">Negotiable</div>
                            <div class="col-9">
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="Yes" name="nego" value="true">
                                    <label class="form-check-label" for="radio1">Yes</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="No" name="nego" value="false">
                                    <label class="form-check-label" for="radio2">No</label>
                                </div>
                                @*<div class="form-check">
                                <input type="checkbox" class="form-check-input" id="negotiable" name="negotiable" value="True">
                                </div>
                                <span class="error-message" style="color: red; display: none;">This field is required!</span>*@
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="Save" onclick="Save();">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="ClearScreenSave();">Close</button>
            </div>
        </div>
    </div>
</div>



@*Modal Offering Procress Soruce List Candidate*@
<!-- Modal -->
<div class="modal fade" id="offeringSourceList" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Candidate</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="fieldLabel quiet text-dark truncate pr-4 pl-4">Name</div>
                <div class="fieldLabel quiet text-dark truncate pr-4 pl-4 text-lg" id="displayName"></div>



                <div class="pr-4 pl-4 pb-1">  <hr></div>
                <form>

                    <div class="form-group row pr-4 pl-4">
                        <label for="" class="col-sm-2 col-form-label">Interview By Ras</label>
                        <div class="col-sm-5">
                            <select class=" form-control form-control-sm" id="intwByRAS" required>
                                <option selected disabled>Choose...</option>
                                <option value="Done">Done</option>
                                <option value="Hold">Hold</option>
                                <option value="Scheduling">Scheduling</option>
                                <option value="Reject">Reject</option>
                                <option value="Withdraw">Withdraw</option>
                            </select>
                            <span class="error-message" style="color: red; display: none;">This field is required!</span>
                        </div>
                        <div class="col-sm-5">

                            <input type="date" class="form-control form-control-sm" id="dateIntwRAS">
                        </div>
                    </div>

                    <!--History User-->
                    <div class="form-group row pr-4 pl-4" id="historyUser">
                    </div>

                    <div class="form-group row pr-4 pl-4">
                        <label for="" class="col-sm-2 col-form-label">Interview User</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control form-control-sm" id="nameUserhidden" hidden>

                            @*<select class="nameUser form-control" id="nameUser" name="nameUser" style="width: 100%;" required>
                                <option value="ASTRA">ASTRA</option>
                                <option value="Pertamina">Pertamina</option>
                                <option value="Mandiri">Mandiri</option>
                                <option value="BSI">BSI</option>
                                <option value="Protelindo">Protelindo</option>
                                <option value="ANTAM">ANTAM</option>
                                <option value="BSS">BSS</option>
                            </select>*@

                            <input type="text" class="form-control form-control-sm" oninput="handleInput(event, this);" onpaste="handleInput(event, this);" id="nameUser">
                            <span class="error-message" style="color: red; display: none;">This field is required!</span>

                            <div class="mt-2">
                                <input type="text" id="intwuserHiden" class="form-control form-control-sm" hidden>
                                <select class=" form-control form-control-sm" id="intwUser">
                                    <option selected disabled>Choose...</option>
                                    <option value="Done">Done</option>
                                    <option value="Hold">Hold</option>
                                    <option value="Scheduling">Scheduling</option>
                                    <option value="Reject">Reject</option>
                                    <option value="Submitted Cv">Submitted Cv</option>
                                </select>
                            </div>
                            <!--New Offering Process-->
                            <div class="mt-2" style="display:none" id="displayIntwUser2">
                                <select class=" form-control form-control-sm" id="intwUser2">
                                    <option selected disabled>Choose...</option>
                                    <option value="Done">Done</option>
                                    <option value="Hold">Hold</option>
                                    <option value="Scheduling">Scheduling</option>
                                    <option value="Reject">Reject</option>
                                    <option value="Submitted Cv">Submitted Cv</option>
                                </select>
                            </div>

                        </div>
                        <div class="col-sm-5" id="formoffer">
                            <button type="button" id="status" class="btn btn-sm btn-outline-info btn-status" style="display:none" onclick="newOfferingFields();">+ Status Process</button>

                            <div class="mt-2">
                                <input type="text" class="form-control form-control-sm" id="dateintwuserHiden" hidden>
                                <input type="date" class="form-control form-control-sm" id="dateIntwUser">
                            </div>

                            <!--New Offering Process-->
                            <div class="mt-2" style="display:none" id="displayDateIntwUser2">
                                <input type="date" class="form-control form-control-sm" id="dateIntwUser2">
                            </div>

                            <div class="mt-2">
                                <button type="button" id="offer" class="btn btn-sm btn-outline-info" onclick="newClientFields();">+ New Process</button>
                            </div>
                        </div>
                    </div>


                    <!--New Client Process-->
                    <div class="form-group row pr-4 pl-4">
                        <label for="" class="col-sm-2 col-form-label" style="display:none" id="displayUserLabel">Interview User</label>
                        <div class="col-sm-5">
                            @*<select class="nameUser2 form-control" id="nameUser2" name="nameUser" style="width: 100%; display: none;" requiredUpdate>
                                <option value="ASTRA">ASTRA</option>
                                <option value="Pertamina">Pertamina</option>
                                <option value="Mandiri">Mandiri</option>
                                <option value="BSI">BSI</option>
                                <option value="Protelindo">Protelindo</option>
                                <option value="ANTAM">ANTAM</option>
                                <option value="BSS">BSS</option>
                            </select>*@
                            <input type="text" class="form-control form-control-sm" oninput="handleInput(event, this);" onpaste="handleInput(event, this);" style="display:none" id="nameUser2" requiredUpdate>
                            <span class="error-message-update" style="color: red; display: none;">This field is required!</span>

                            <div class="mt-2">
                                <select class=" form-control form-control-sm" id="displayUserItw" style="display:none" requiredUpdate>
                                    <option selected disabled>Choose...</option>
                                    <option value="Done">Done</option>
                                    <option value="Hold">Hold</option>
                                    <option value="Scheduling">Scheduling</option>
                                    <option value="Reject">Reject</option>
                                    <option value="Submitted Cv">Submitted Cv</option>
                                </select>
                                <span class="error-message-update" style="color: red; display: none;">This field is required!</span>
                            </div>
                            <!--New Offering Process-->
                            @* <div class="mt-2" style="display:none" id="displayIntwUser3">
                            <select class=" form-control form-control-sm" id="intwUserr2" requiredUpdate>
                            <option selected disabled>Choose...</option>
                            <option value="Done">Done</option>
                            <option value="Hold">Hold</option>
                            <option value="Scheduling">Scheduling</option>
                            <option value="Reject">Reject</option>
                            <option value="Submitted Cv">Submitted Cv</option>
                            </select>
                            <span class="error-message-update" style="color: red; display: none;">This field is required!</span>
                            </div>*@

                        </div>
                        <div class="col-sm-5" id="displayFormOffer" style="display:none">
                            @* <button type="button" id="userbaru" class="btn btn-sm btn-outline-info" onclick="newProses2();">+ Status Process</button>*@

                            <div class="mt-2">
                                <input type="date" class="form-control form-control-sm" id="dateIntwUserr" requiredUpdate>
                                <span class="error-message-update" style="color: red; display: none;">This field is required!</span>
                            </div>

                            <!--New Offering Process-->
                            <div class="mt-2" style="display:none" id="displayDateIntwUser3">
                                <input type="date" class="form-control form-control-sm" id="dateIntwUserr2">
                            </div>

                        </div>
                    </div>


                    @*<div class="form-group row pr-4 pl-4">
                    <label for="" class="col-sm-2 col-form-label">Interview User</label>
                    <div class="col-sm-5">
                    <input type="text" id="intwuserHiden" class="form-control form-control-sm" hidden>
                    <select class=" form-control form-control-sm" id="intwUser">
                    <option selected disabled>Choose...</option>
                    <option value="Done">Done</option>
                    <option value="Hold">Hold</option>
                    <option value="Scheduling">Scheduling</option>
                    <option value="Reject">Reject</option>
                    <option value="Submitted Cv">Submitted Cv</option>
                    </select>

                    <!--New Offering Process-->
                    <div class="mt-2" style="display:none" id="displayIntwUser2">
                    <select class=" form-control form-control-sm" id="intwUser2">
                    <option selected disabled>Choose...</option>
                    <option value="Done">Done</option>
                    <option value="Hold">Hold</option>
                    <option value="Scheduling">Scheduling</option>
                    <option value="Reject">Reject</option>
                    <option value="Submitted Cv">Submitted Cv</option>
                    </select>
                    </div>

                    </div>
                    <div class="col-sm-5">
                    <input type="text" class="form-control form-control-sm" id="dateintwuserHiden" hidden>
                    <input type="date" class="form-control form-control-sm" id="dateIntwUser">

                    <!--New Offering Process-->
                    <div class="mt-2" style="display:none" id="displayDateIntwUser2">
                    <input type="date" class="form-control form-control-sm" id="dateIntwUser2">
                    </div>

                    </div>
                    <span class="error-message" style="color: red; display: none;">This field is required!</span>
                    </div>*@


                    @*<div class="form-group row pr-4 pl-4">
                    <label for="" class="col-sm-2 col-form-label">Name Of User</label>

                    <div class="col-sm-5">
                    <input type="text" class="form-control form-control-sm" id="nameUserhidden" hidden>
                    <input type="text" class="form-control form-control-sm" oninput="handleInput(event, this);" onpaste="handleInput(event, this);" id="nameUser">
                    <span class="error-message" style="color: red; display: none;">This field is required!</span>

                    <!--New Offering Process-->
                    <div class="mt-2" style="display:none" >
                    <input type="text" class="form-control form-control-sm" oninput="handleInput(event, this);" onpaste="handleInput(event, this);" placeholder="Name Of User" id="nameUser2">
                    </div>

                    </div>
                    <div class="col-sm-5" id="formoffer">
                    <button type="button" id="offer" class="btn btn-sm btn-outline-info" onclick="newOfferingFields();">+ Offering Process</button>
                    </div>
                    </div>*@

                    <div class="form-group row pr-4 pl-4 mt-4">
                        <label for="" class="col-sm-2 col-form-label">Level Rekom</label>
                        <div class="col-sm-10">
                            <select class=" form-control form-control-sm" id="levelRekom">
                                <option selected disabled>Choose...</option>
                                <option value="High">High</option>
                                <option value="Medium">Medium</option>
                                <option value="Low">Low</option>
                            </select>
                            <span class="error-message" style="color: red; display: none;">This field is required!</span>
                        </div>
                    </div>

                    <div class="form-group row pr-4 pl-4">
                        <label for="" class="col-sm-2 col-form-label">Status</label>
                        <div class="col-sm-10">
                            <select class=" form-control form-control-sm" id="statusOffering">
                                <option selected disabled>Status Offering...</option>
                                <option value="Hiring Process">Hiring Process</option>
                                <option value="Offering">Offering</option>
                                <option value="Offering Done">Offering Done</option>
                                <option value="Offering Failed">Offering Failed</option>
                                <option value="Withdraw">Withdraw</option>
                            </select>
                            <span class="error-message" style="color: red; display: none;">This field is required!</span>
                        </div>
                    </div>


                    <div class="form-group row pr-4 pl-4">
                        <label for="" class="col-sm-2 col-form-label">Notes</label>
                        <div class="col-sm-10">
                            <textarea type="text" class="form-control form-control-sm" oninput="handleInput(event, this);" onpaste="handleInput(event, this);" id="notes"> </textarea>
                        </div>
                    </div>


                    <div class="text-center">
                        <button class="btn btn-sm bg-light" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Show 19 hidden fields
                        </button>
                    </div>

                    <div class="collapse mt-2" id="collapseExample">

                        <div class="form-group">
                            <input type="text" class="form-control" id="nonrasid2" hidden>
                        </div>
                        <div class="form-group">
                            <div class="row pl-5 pr-5">
                                <div class="col" style="color: black">Full Name</div>
                                <div class="col-9">
                                    <input type="text" class="form-control " id="Name2" oninput="handleInput(event, this);" onpaste="handleInput(event, this);" required>
                                    <span class="error-message" style="color: red; display: none;">This field is required!</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row pl-5 pr-5">
                                <div class="col" style="color: black">Position</div>
                                <div class="col-9">
                                    <select class="position form-control" id="position2" name="position[]" multiple="multiple" style="width: 100%;">
                                        <option value="Fullstack">Fullstack</option>
                                        <option value="Data Engineer">Data Engineer</option>
                                        <option value="Frontend">Front End</option>
                                        <option value="Backend">Back End</option>
                                        <option value="Data Science">Data Science</option>
                                        <option value="Data Analyst">Data Analyst</option>
                                        <option value="Networking">Networking</option>
                                        <option value="RPA">RPA</option>
                                        <option value="Database Administrator">Database Administrator</option>
                                        <option value="Database Engineer">Database Engineer</option>
                                        <option value="Database Analyst">Database Analyst</option>
                                        <option value="Database Analyst">Manual</option>
                                        <option value="Database Analyst">Automation</option>
                                        <option value="Technical Writer">Technical Writer</option>
                                        <option value="Solution Analyst">Solution Analyst</option>
                                        <option value="Business Analyst">Business Analyst</option>
                                        <option value="Scrum Master">Scrum Master</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group pl-5 pr-5">
                            <div class="row">
                                <div class="col" style="color: black">Skillset</div>
                                <div class="col-9">
                                    <p class="p-0 m-0">
                                        <select class="skillset form-control" id="skillset2" name="skillset[]" multiple="multiple" style="width: 100%;">
                                            <option value="Laravel">Laravel</option>
                                            <option value="Yii Framework">Yii Framework</option>
                                            <option value="CodeIgniter">CodeIgniter</option>
                                            <option value="React">React</option>
                                            <option value="Vue">Vue</option>
                                            <option value="Node.js">Node.js</option>
                                            <option value="React Native">React Native</option>
                                            <option value="Next.js">Next.js</option>
                                            <option value="Express.js">Express.js</option>
                                            <option value="Backbone.js">Backbone.js</option>
                                            <option value="Vue.js">Vue.js</option>
                                            <option value="Flask">Flask</option>
                                            <option value="Django">Django</option>
                                            <option value="Falcon">Falcon</option>
                                            <option value="Dash">Dash</option>
                                            <option value="Web2Py">Web2Py</option>
                                            <option value="Hibernate">Hibernate</option>
                                            <option value="Spring">Spring</option>
                                            <option value=".Net Core API">.Net Core API</option>
                                            <option value=".Net Core MVC">.Net Core MVC</option>
                                            <option value="Bootstrap">Bootstrap</option>
                                            <option value="Google Data Studio">Google Data Studio</option>
                                            <option value="Oracle">Oracle</option>
                                            <option value="SQL Server">SQL Server</option>


                                        </select>
                                        <span class="error-message" style="color: red; display: none;">Please select at least one Position.</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row pl-5 pr-5">
                                <div class="col" style="color: black">Domicile</div>
                                <div class="col-9">
                                    <input type="text" class="form-control" id="domicile2" oninput="handleInput(event, this);" onpaste="handleInput(event, this);" required>
                                    <span class="error-message" style="color: red; display: none;">This field is required!</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row pl-5 pr-5">
                                <div class="col" style="color: black">Degree</div>
                                <div class="col-9">
                                    <input type="text" class="form-control" id="degree2" oninput="handleInput(event, this);" onpaste="handleInput(event, this);" required>
                                    <span class="error-message" style="color: red; display: none;">This field is required!</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row pl-5 pr-5">
                                <div class="col" style="color: black">IPK </div>
                                <div class="col-9">
                                    <input type="text" class="form-control" id="ipk2" oninput="numeric(this);" onpaste="numeric(this);" requiredUpdate>
                                  
                                    <span class="error-message" style="color: red; display: none;">This field is required!</span>
                                     <span class="error-format-ipk-update" style="color: red; display: none;">Enter the correct GPA!</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row pl-5 pr-5">
                                <div class="col" style="color: black">University </div>
                                <div class="col-9">
                                    <select id="UniversityName2" class="selectUniversity2 form-control" required>
                                        <option></option>
                                    </select>
                                    <span class="error-message" style="color: red; display: none;">This field is required!</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row pl-5 pr-5">
                                <div class="col" style="color: black">Birthdate </div>
                                <div class="col-9">
                                    <input type="date" class="form-control" id="birthdate2" required>
                                    <span class="error-message" style="color: red; display: none;">This field is required!</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row pl-5 pr-5">
                                <div class="col" style="color: black">Level</div>
                                <div class="col-9">
                                    <select id="level2" class="selectLevel form-control" name="state" required>
                                        <option value="Fresh Graduate">Fresh Graduate</option>
                                        <option value="Junior">Junior</option>
                                        <option value="Middle">Middle</option>
                                        <option value="Senior">Senior</option>
                                    </select>
                                    <span class="error-message" style="color: red; display: none;">This field is required!</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row pl-5 pr-5">
                                <div class="col" style="color: black">Experience</div>
                                <div class="col-9">
                                    <select id="experience2" class="selectExperience form-control" name="state" required>
                                        <option value="< 1 Years">< 1 Year</option>
                                        <option value="1 Year">1 Year</option>
                                        <option value="2 Years">2 Years</option>
                                        <option value="4 Years">4 Years</option>
                                        <option value="5 Years">5 Years</option>
                                        <option value="> 5 Years">> 5 Years</option>
                                    </select>
                                    <span class="error-message" style="color: red; display: none;">This field is required!</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row pl-5 pr-5">
                                <div class="col" style="color: black">Filtering By</div>
                                <div class="col-9">
                                    <select id="filteringby2" class="selectFiltering form-control" name="state" required>
                                        <option value="Recruitment">Recruitment</option>
                                        <option value="RAS">RAS</option>
                                    </select>
                                    <span class="error-message" style="color: red; display: none;">This field is required!</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row pl-5 pr-5">
                                <div class="col" style="color: black">Work Status</div>
                                <div class="col-9">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="workstatus2" name="workstatus2" value="true">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row pl-5 pr-5 ">
                                <div class="col" style="color: black">Notice Period</div>
                                <div class="col-9">
                                    <input type="text" class="form-control" id="notice2" oninput="handleInput(event, this);" onpaste="handleInput(event, this);" required>
                                    <span class="error-message" style="color: red; display: none;">This field is required!</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row pl-5 pr-5">
                                <div class="col" style="color: black">Financial Industry</div>
                                <div class="col-9">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="financial2" name="financial" value="True" required>
                                    </div>
                                    <span class="error-message" style="color: red; display: none;">This field is required!</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row pl-5 pr-5">
                                <div class="col" style="color: black">Raw CV</div>
                                <div class="col-9">
                                    <input type="text" class="form-control" oninput="handleInput(event, this);" onpaste="handleInput(event, this);" id="rawcv2" required>
                                    <span class="error-message" style="color: red; display: none;">This field is required!</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row pl-5 pr-5">
                                <div class="col" style="color: black">Berca CV</div>
                                <div class="col-9">
                                    <input type="text" class="form-control" oninput="handleInput(event, this);" onpaste="handleInput(event, this);" id="bercacv2" required>
                                    <span class="error-message" style="color: red; display: none;">This field is required!</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row pl-5 pr-5">
                                <div class="col" style="color: black">English</div>
                                <div class="col-9">
                                    <select id="english2" class="selectFiltering form-control" name="state" required>
                                        <option value="Advanced">Advanced</option>
                                        <option value="Intermediate">Intermediate</option>
                                        <option value="Low">Low</option>
                                    </select>
                                    <span class="error-message" style="color: red; display: none;">This field is required!</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row pl-5 pr-5">
                                <div class="col" style="color: black">Current Salary</div>
                                <div class="col-9">
                                    <input type="text" class="form-control" id="current2" required onkeyup="formatCurrency(this);" placeholder="Rp ">
                                    <span class="error-message" style="color: red; display: none;">This field is required!</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row pl-5 pr-5">
                                <div class="col" style="color: black">Expected Salary</div>
                                <div class="col-9">
                                    <input type="text" class="form-control" id="expected2" required onkeyup="formatCurrency(this);" placeholder="Rp ">
                                    <span class="error-message" style="color: red; display: none;">This field is required!</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row pl-5 pr-5">
                                <div class="col" style="color: black">Negotiable</div>
                                <div class="col-9">
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" id="Yes2" name="nego2" value="true">
                                        <label class="form-check-label" for="radio1">Yes</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" id="No2" name="nego2" value="false">
                                        <label class="form-check-label" for="radio2">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="ClearScreenUpt();">Close</button>
                <button type="button" class="btn btn-primary" onclick="Update();">Save changes</button>
            </div>
        </div>
    </div>
</div>





@*<script src="https://code.jquery.com/jquery-3.7.0.js"></script>*@
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/fixedcolumns/4.3.0/js/dataTables.fixedColumns.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>


<script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@@2.5.3/dist/umd/popper.min.js"></script>
@*<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
*@

<!-- Select2 -->
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
*@
<script>
    $(document).ready(function () {
        $('input[required_], select[required], select[required_]').each(function () {
                // Find the closest div with class 'col' and add a red asterisk
                $(this).closest('.row').find('.col').append('<span style="color: red;">*</span>');
            });
        $('#collapseExample').on('show.bs.collapse', function () {
            // Di sini, Anda bisa mengubah teks tombol saat kolaps ditampilkan
            $('.btn[data-target="#collapseExample"]').text('Hide 19 hidden fields');
        });

        $('#collapseExample').on('hide.bs.collapse', function () {
            // Di sini, Anda bisa mengubah teks tombol saat kolaps disembunyikan
            $('.btn[data-target="#collapseExample"]').text('Show 19 hidden fields');
        });
    });

</script>
@section script{
    <script src="~/js/SrcDatatable.js"></script>
}








