﻿@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/LayoutAdmin.cshtml";
}
<style>
    @* *{
        border: 1px solid green;
    } *@
    .badge {
        font-size: 12px;
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #F7F6FE;
    }

    .table-striped tbody tr:nth-of-type(even) {
        background-color: #FFFFFF;
    }

    #resource_length label {
        font-size: 14px;
    }

    #resource_filter label {
        font-size: 14px;
    }


    #resource_filter input[type="search"] {
        font-size: 14px;
        height: 26px;
    }


    #resource td {
        font-size: 13px;
    }

    th {
        font-size: 13px;
    }

    /* Badge Styles with Pastel Colors and Black Text */



    .form-control {
        height: 31px;
    }


    select.form-control {
        font-size: 14.5px;
    }


    .dataTables_info {
        font-size: 14.5px;
    }

    .dataTables_filter {
        margin-right: 18px;
    }
    .table.dataTable {
    margin-top: 0 !important;
}

    .dataTables_wrapper .dataTables_paginate .paginate_button.previous,
    .dataTables_wrapper .dataTables_paginate .paginate_button.next {
        font-size: 14.5px;
    }

    .paginate_button {
        font-size: 14px;
        padding: 4px 8px;
    }

    .customWrap {
        white-space: normal !important; 
        min-width: 300px;
        word-wrap: break-word;
    }
    .expand-content {
        cursor: pointer; 
    }
    .expand-content:hover {
        color: darkblue !important;
    }


    @@media (min-width: 768px) {
        .dataTables_filter {
            margin-right: 10px;
        }
    } 

</style>


<div>
    <button style="background-color:#624DE3;  font-size: 12px;" type="button" class="btn btn-sm text-light mb-2 btn-add-nonras" data-toggle="modal" data-target="#Modal">
        Add New
    </button>
    <button style="background-color:#008f4c;  font-size: 12px; float: right" type="button" class="btn btn-sm text-light mb-2 btn-export-nonras" id="export_excel">
        Export Excel
    </button>
</div>
<div class="card mb-3 rounded-bottom border-0">

    <nav id="filterNavigation" class="navbar-light navbar-expand-sm" style="background-color: #e3f2fd;">

    </nav>

    <div class="card-body pr-0 pb-1 pl-3">
        <table id="resource" class="table table-striped table-bordered text-nowrap" style="max-width:100%; color:black">
            <thead>

                
                <tr>
                    <th>Fullname</th>
                    <th>Position</th>
                    <th style="min-width: 300px;">Skillset</th>
                    <th>Level</th>
                    <th>Education</th>
                    <th>GPA</th>
                    <th>University</th>
                    <th>Domicile</th>
                    <th>Age</th>
                    <th>Experience</th>
                    <th>Filtering by</th>
                    <th>Work Status</th>
                    <th>Notice Periode</th>
                    <th>Financial Industry</th>
                    <th>Raw CV</th>
                    <th>CV Berca</th>
                    <th>English Level</th>
                    <th>Current Salary</th>
                    <th>Expected Salary</th>
                    <th>Negotiable</th>
                    <th>Tech Test Result</th>
                    <th>Interview by RAS</th>
                    <th>Interview Date by RAS</th>                    
                    <th>Level Recommendation</th>
                    <th>Status</th>
                    <th style="width: 300px;">Notes</th>
                    <th>Last Modified</th>
                    @* Untuk Export EXCEL *@
                    <th>Skillset</th>
                    <th>Work Status</th>
                    <th>Financial Industry</th>
                    <th>Raw CV</th>
                    <th>CV Berca</th>
                    <th>Negotiable</th>
                    <th>Notes</th>
                    @* Untuk Export EXCEL *@
                </tr>
            </thead>
            <tbody>
                <!-- Tambahkan baris-baris data lainnya di sini -->
            </tbody>
        </table>
    </div>
</div>


@*Modal*@
<div class="modal fade bd-example-modal-lg" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header pt-3  pb-3">
                <h5 class="modal-title" id="exampleModalLabel">Shortlist Candidate</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="ClearScreenSave();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @*<div class="mb-3">
                    <div class="row pl-2 pr-2">
                            <div class="col-sm-3 col-md" style="color: black"></div>
                            <div class="col-sm-9 ">
                                 <div class="custom-file">*@
                                    @* <input type="file" class="custom-file-input form-control" id="fileInput" accept=".pdf" aria-describedby="inputGroupFileAddon01">*@
                     @*                <input type="file" class="custom-file-input form-control" id="fileInput2" accept=".docx" aria-describedby="inputGroupFileAddon01">
                                    <label class="custom-file-label bg-info text-light" for="inputGroupFile01">Choose file (Auto Fill)</label>
                                 </div>
                            </div>
                     </div>
                   
                    
                </div>*@
                  
                <form>
              
                        <input type="text" class="form-control" id="nonrasid" hidden>
                  
                    <div class="form-group">
                        <div class="row pl-2 pr-2">
                            <div class="col-sm-3 col-md" style="color: black">Full Name</div>
                            <div class="col-sm-9 ">
                                <input type="text" class="form-control " id="Name" oninput="handleInput(event, this);" onpaste="handleInput(event, this);" required_>
                                <span class="error-message_" style="color: red; display: none;">This field is required!</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row pl-2 pr-2">
                            <div class="col-sm-3 col-md" style="color: black">Position</div>
                            <div class="col-sm-9">
                                <p class="p-0 m-0">
                                    <select class="position form-control" id="position" name="position[]" multiple="multiple" style="width: 100%;" required>
                                            <option value="Back End Developer">Back End Developer</option>
                                            <option value="Business Analyst">Business Analyst</option>
                                            <option value="Business Intelligent Engineer">Business Intelligent Engineer</option>
                                            <option value="Data Analyst">Data Analyst</option>
                                            <option value="Data Engineer">Data Engineer</option>
                                            <option value="Database Administrator">Database Administrator</option>
                                            <option value="Database Analyst">Database Analyst</option>
                                            <option value="Database Engineer">Database Engineer</option>
                                            <option value="Devops Engineer">Devops Engineer</option>
                                            <option value="Developer">Developer</option>
                                            <option value="Front End Developer">Front End Developer</option>
                                            <option value="Head of IT">Head of IT</option>
                                            <option value="IT Admin">IT Admin</option>
                                            <option value="IT Applications Support">IT Applications Support</option>
                                            <option value="Manager">Manager</option>
                                            <option value="Mobile Developer">Mobile Developer</option>
                                            <option value="Outsystems Developer">Outsystems Developer</option>
                                            <option value="Project Manager">Project Manager</option>
                                            <option value="Quality Assurance">Quality Assurance</option>
                                            <option value="Sage 300 Consultant">Sage 300 Consultant</option>
                                            <option value="SAP ABAP Developer">SAP ABAP Developer</option>
                                            <option value="Scrum Master">Scrum Master</option>
                                            <option value="Software Engineer">Software Engineer</option>
                                            <option value="System Analyst">System Analyst</option>
                                            <option value="UiPath Engineer">UiPath Engineer</option>
                                            <option value=".Net Developer">.Net Developer</option>
                                    </select>
                                    <span class="error-message" style="color: red; display: none;">Please select at least one Position.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row pl-2 pr-2">
                            <div class="col-sm-3 col-md" style="color: black">Skillset</div>
                            <div class="col-sm-9">
                                <p class="p-0 m-0">

                                    <select class="skillset position form-control" id="skillset" name="skillset[]" multiple="multiple" style="width: 100%;" required>
                                        <option value="Laravel">Laravel</option>
                                        <option value="Yii Framework">Yii Framework</option>
                                        <option value="CodeIgniter">CodeIgniter</option>
                                        <option value="React">React</option>
                                        <option value="Vue">Vue</option>
                                        <option value="Node.js">Node.js</option>
                                        <option value="React Native">React Native</option>
                                        <option value="Next.js">Next.js</option>
                                        <option value="Express.js">Express.js</option>
                                        <option value="Backbone.js">Backbone.js</option>
                                        <option value="Vue.js">Vue.js</option>
                                        <option value="Flask">Flask</option>
                                        <option value="Django">Django</option>
                                        <option value="Falcon">Falcon</option>
                                        <option value="Dash">Dash</option>
                                        <option value="Web2Py">Web2Py</option>
                                        <option value="Hibernate">Hibernate</option>
                                        <option value="Spring">Spring</option>
                                        <option value=".Net Core API">.Net Core API</option>
                                        <option value=".Net Core MVC">.Net Core MVC</option>
                                        <option value="Bootstrap">Bootstrap</option>
                                        <option value="Google Data Studio">Google Data Studio</option>
                                         <option value="Oracle">Oracle</option>
                                         <option value="SQL Server">SQL Server</option>

                                    </select>
                                    <span class="error-message" style="color: red; display: none;">Please select at least one Skill Set.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row pl-2 pr-2">
                            <div class="col-sm-3 col-md" style="color: black">Degree</div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="degree" oninput="handleInput(event, this);" onpaste="handleInput(event, this);" required_>
                                <span class="error-message_" style="color: red; display: none;">This field is required!</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row pl-2 pr-2">
                            <div class="col-sm-3 col-md" style="color: black">IPK</div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" oninput="numeric(this);" onpaste="numeric(this);" id="ipk"  @*required_*@>
                                @*<span class="error-message_" style="color: red; display: none;">This field is required!</span>
                                <span class="error-format-ipk" style="color: red; display: none;">Enter the correct GPA!</span>   *@                    
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row pl-2 pr-2">
                            <div class="col-sm-3 col-md" style="color: black">University</div>
                            <div class="col-sm-9">                              
                                <select id="UniversityName" class="form-control selectUniversity" required_>
                                    <option></option>
                                </select>
                                <span class="error-message-u" style="color: red; display: none;">This field is required!</span>                              
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row pl-2 pr-2">
                            <div class="col-sm-3 col-md" style="color: black">Domicile</div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" oninput="handleInput(event, this);" onpaste="handleInput(event, this);" id="domicile">
                                @*<span class="error-message_" style="color: red; display: none;">This field is required!</span>*@
                                @*<p>
                                <select class="selectProvinces form-control" style="width:100%" id="selectProvinces" placeholder="Select Provinces" name="state">
                                <option></option>
                                </select>
                                </p>
                                <p>
                                <select class="selectRegencies form-control" style="width:100%;" id="selectRegencies" placeholder="City ​​or County" name="state">
                                <option></option>
                                </select>
                                <span class="error-message-r" style="color: red; display: none;">This field is required!</span>
                                </p>*@
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row pl-2 pr-2">
                            <div class="col-sm-3 col-md" style="color: black">Birthdate </div>
                            <div class="col-sm-9 input-group input-group-sm">
                                @*<input type="number" class="form-control" id="age1">
                                <div class="input-group-append">
                                    <span class="input-group-text">Years</span>
                                </div>*@
                                <input type="date" class="form-control" id="birthdate">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row pl-2 pr-2">
                            <div class="col-sm-3 col-md" style="color: black">Level</div>
                            <div class="col-sm-9">
                                <select id="level" class="selectLevel form-control" name="state" required_>
                                    <option selected disabled>Choose...</option>
                                    <option value="Fresh Graduate">Fresh Graduate</option>
                                    <option value="Junior">Junior</option>
                                    <option value="Junior to Middle">Junior to Middle</option>
                                    <option value="Middle">Middle</option>
                                    <option value="Middle to Senior">Middle to Senior</option>
                                    <option value="Senior">Senior</option>
                                </select>
                                <span class="error-message_" style="color: red; display: none;">This field is required!</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row pl-2 pr-2">
                            <div class="col-sm-3 col-md" style="color: black">Experience<span class="text-danger">*</span></div>
                            <div class="col-sm-4 col-md-5">
                                    <div class="input-group input-group-sm ">
                                        <input type="number" min="0" maxlength="2" class="form-control" id="experience_year">
                                        <div class="input-group-append">
                                            <span class="input-group-text">Years</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    <div class="input-group input-group-sm ">
                                        <input type="number" min="1" max="11" maxlength="2" class="form-control" id="experience_month" >
                                        <div class="input-group-append">
                                            <span class="input-group-text">Months</span>
                                        </div>
                                    </div>
                                </div>
                            @* <div class="col-sm-9">
                                <input type="text" class="form-control" oninput="handleInput(event, this);" onpaste="handleInput(event, this);" id="experience_year" required_>
                                <span class="error-message_" style="color: red; display: none;">This field is required!</span>
                            </div> *@
                        </div>
                        <div class="row pl-2 pr-2">
                            <div class="col-sm-3 col-md"></div>
                            <div class="col-sm-9 col-md-9">
                                <span class="error-message_" id="experience_error" style="color: red; display: none;">Experience year is required!</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row pl-2 pr-2">
                            <div class="col-sm-3 col-md" style="color: black">Filtering By</div>
                            <div class="col-sm-9">
                                <select id="filteringby" class="selectFiltering form-control" name="state" required_>
                                    <option selected disabled>Choose...</option>
                                    <option value="Jobstreet">Jobstreet</option>
                                        <option value="RAS">RAS</option>
                                        <option value="Recruitment">Recruitment</option>
                                </select>
                                <span class="error-message_" style="color: red; display: none;">This field is required!</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row pl-2 pr-2">
                            <div class="col-5 col-md-3" style="color: black">Work Status</div>
                            <div class="col-7 col-md-9">
                                @*<div class="form-check">
                                <input type="radio" class="form-check-input" id="Active" name="workstatus" value="Active" required>
                                <label class="form-check-label" for="radio1">Active</label>
                                </div>
                                <div class="form-check">
                                <input type="radio" class="form-check-input" id="Inactive" name="workstatus" value="Inactive" required>
                                <label class="form-check-label" for="radio2">Inactive</label>
                                <span class="error-message_" style="color: red; display: none;">This field is required!</span>
                                </div>*@
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="workstatus" name="workstatus" value="True">
                                    <span class="status-indicator " style="font-size: smaller">Not Working</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row pl-2 pr-2 ">
                            <div class="col-sm-3 col-md" style="color: black">Notice Period</div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" oninput="handleInput(event, this);" onpaste="handleInput(event, this);" id="notice" required_>

                                <span class="error-message_" style="color: red; display: none;">This field is required!</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row pl-2 pr-2">
                            <div class="col-sm-3 col-5 col-md-3" style="color: black">Financial Industry</div>
                            <div class="col-7 col-md-9">
                                 <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="financial" name="financial" value="True">
                                <span class="status-indicator_" style="font-size: smaller">No</span>
                                </div>
                            </div>
   
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row pl-2 pr-2">
                            <div class="col-sm-3 col-md" style="color: black">Raw CV</div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="https://drive.google.com/" oninput="handleInput(event, this);" onpaste="handleInput(event, this);" id="rawcv" required_>
                                <span class="error-message_" style="color: red; display: none;">This field is required!</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row pl-2 pr-2">
                            <div class="col-sm-3 col-md" style="color: black">Berca CV</div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="https://drive.google.com/" oninput="handleInput(event, this);" onpaste="handleInput(event, this);" id="bercacv" required_>
                                <span class="error-message_" style="color: red; display: none;">This field is required!</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row pl-2 pr-2">
                            <div class="col-sm-3 col-md" style="color: black">English</div>
                            <div class="col-sm-9">
                                <select id="english" class="form-control" name="state">
                                    <option selected disabled>Choose...</option>
                                    <option value="Advanced">Advanced</option>
                                    <option value="Intermediate">Intermediate</option>
                                    <option value="Low">Low</option>
                                </select>
                                <span class="error-message" style="color: red; display: none;">This field is required!</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row pl-2 pr-2">
                            <div class="col-sm-3 col-md" style="color: black">Current Salary</div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="current" onkeyup="formatCurrency(this);" placeholder="Rp ">
                                <span class="error-message_" style="color: red; display: none;">This field is required!</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row pl-2 pr-2">
                            <div class="col-sm-3 col-md" style="color: black">Expected Salary</div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="expected" onkeyup="formatCurrency(this);" placeholder="Rp ">
                                <span class="error-message_" style="color: red; display: none;">This field is required!</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row pl-2 pr-2">
                            <div class="col-sm-3 col-md" style="color: black">Negotiable</div>
                            <div class="col-sm-9">
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="Yes" name="nego" value="true">
                                    <label class="form-check-label" for="radio1">Yes</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="No" name="nego" value="false">
                                    <label class="form-check-label" for="radio2">No</label>
                                </div>
                                @*<div class="form-check">
                                <input type="checkbox" class="form-check-input" id="negotiable" name="negotiable" value="True">
                                </div>
                                <span class="error-message" style="color: red; display: none;">This field is required!</span>*@
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="Save" onclick="saveAndDisable();">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="ClearScreenSave();">Close</button>
            </div>
        </div>
    </div>
</div>



@*Modal Offering Procress Soruce List Candidate*@
<!-- Modal -->
<div class="modal fade" id="offeringSourceList" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Candidate</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="ClearScreenUpt();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="fieldLabel quiet text-dark truncate pr-4 pl-4">Name</div>
                <div class="fieldLabel quiet text-dark truncate pr-4 pl-4 text-lg" id="displayName"></div>



                <div class="pr-4 pl-4 pb-1">  <hr></div>
                <form>
                    <div class="form-group row pr-4 pl-4">
                        <label for="" class="col-sm-2 col-form-label">Tech Test Result</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control form-control-sm" oninput="handleInput(event, this);" onpaste="handleInput(event, this);" id="techTest"> </input>
                        </div>
                    </div>
                    <div class="form-group row pr-4 pl-4">
                        <label for="" class="col-sm-2 col-form-label">Interview By Ras</label>
                        <div class="col-sm-5">
                            <select class=" form-control form-control-sm" id="intwByRAS" >
                                <option selected disabled>Choose...</option>
                                <option value="Scheduling">Scheduling</option>
                                <option value="Technical Test">Technical Test</option>
                                <option value="Withdraw">Withdraw</option>
                                <option value="Hold">Hold</option>
                                <option value="Reject">Reject</option>
                                <option value="Done">Done</option>
                            </select>
                            <span class="error-message" style="color: red; display: none;">This field is required!</span>
                        </div>
                        <div class="col-sm-5">

                            <input type="date" class="form-control form-control-sm" id="dateIntwRAS">
                        </div>
                    </div>

                    <!--History User-->
                    


                    <div class="form-group row pr-4 pl-4 mt-4">
                        <label for="" class="col-sm-2 col-form-label">Level Rekom</label>
                        <div class="col-sm-10">
                            <select class=" form-control form-control-sm" id="levelRekom">
                                <option selected disabled>Choose...</option>
                                <option value="High">High</option>
                                <option value="Medium">Medium</option>
                                <option value="Low">Low</option>
                            </select>
                            <span class="error-message" style="color: red; display: none;">This field is required!</span>
                        </div>
                    </div>

                    <div class="form-group row pr-4 pl-4">
                        <label for="" class="col-sm-2 col-form-label">Status</label>
                        <div class="col-sm-10">
                            <select class=" form-control form-control-sm" id="statusOffering">
                                <option selected disabled>Status Offering...</option>
                                <option value="Hiring Process">Hiring Process</option>
                                <option value="Offering">Offering</option>
                                <option value="Offering Done">Offering Done</option>
                                <option value="Offering Failed">Offering Failed</option>
                                <option value="Withdraw">Withdraw</option>
                            </select>
                            <span class="error-message" style="color: red; display: none;">This field is required!</span>
                        </div>
                    </div>


                    <div class="form-group row pr-4 pl-4">
                        <label for="" class="col-sm-2 col-form-label">Notes</label>
                        <div class="col-sm-10">
                            <textarea type="text" class="form-control form-control-sm" oninput="handleInput(event, this);" onpaste="handleInput(event, this);" id="notes"> </textarea>
                        </div>
                    </div>


                    <div class="text-center">
                        <button class="btn btn-sm bg-light" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Show 19 hidden fields
                        </button>
                    </div>

                    <div class="collapse mt-2" id="collapseExample">

                        <div class="form-group">
                            <input type="text" class="form-control" id="nonrasid2" hidden>
                        </div>
                        <div class="form-group">
                            <div class="row pl-4 pr-4">
                                <div class="col-sm-3 col-md" style="color: black">Full Name</div>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control " id="Name2" oninput="handleInput(event, this);" onpaste="handleInput(event, this);" >
                                    <span class="error-message" style="color: red; display: none;">This field is required!</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row pl-4 pr-4">
                                <div class="col-sm-3 col-md" style="color: black">Position</div>
                                <div class="col-sm-9">
                                    <select class="position form-control" id="position2" name="position[]" multiple="multiple" style="width: 100%;">
                                        <option value="Back End Developer">Back End Developer</option>
                                        <option value="Business Analyst">Business Analyst</option>
                                        <option value="Business Intelligent Engineer">Business Intelligent Engineer</option>
                                            <option value="Data Analyst">Data Analyst</option>
                                            <option value="Data Engineer">Data Engineer</option>
                                            <option value="Database Administrator">Database Administrator</option>
                                            <option value="Database Analyst">Database Analyst</option>
                                            <option value="Database Engineer">Database Engineer</option>
                                            <option value="Devops Engineer">Devops Engineer</option>
                                            <option value="Developer">Developer</option>
                                            <option value="Front End Developer">Front End Developer</option>
                                            <option value="Head of IT">Head of IT</option>
                                            <option value="IT Admin">IT Admin</option>
                                            <option value="IT Applications Support">IT Applications Support</option>
                                            <option value="Manager">Manager</option>
                                            <option value="Mobile Developer">Mobile Developer</option>
                                            <option value="Outsystems Developer">Outsystems Developer</option>
                                            <option value="Project Manager">Project Manager</option>
                                            <option value="Quality Assurance">Quality Assurance</option>
                                            <option value="Sage 300 Consultant">Sage 300 Consultant</option>
                                            <option value="SAP ABAP Developer">SAP ABAP Developer</option>
                                            <option value="Scrum Master">Scrum Master</option>
                                            <option value="Software Engineer">Software Engineer</option>
                                            <option value="System Analyst">System Analyst</option>
                                            <option value="UiPath Engineer">UiPath Engineer</option>
                                            <option value=".Net Developer">.Net Developer</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group pl-4 pr-4">
                            <div class="row">
                                <div class="col-sm-3 col-md" style="color: black">Skillset</div>
                                <div class="col-sm-9">
                                    <p class="p-0 m-0">
                                        <select class="skillset form-control" id="skillset2" name="skillset[]" multiple="multiple" style="width: 100%;">
                                            <option value="Laravel">Laravel</option>
                                            <option value="Yii Framework">Yii Framework</option>
                                            <option value="CodeIgniter">CodeIgniter</option>
                                            <option value="React">React</option>
                                            <option value="Vue">Vue</option>
                                            <option value="Node.js">Node.js</option>
                                            <option value="React Native">React Native</option>
                                            <option value="Next.js">Next.js</option>
                                            <option value="Express.js">Express.js</option>
                                            <option value="Backbone.js">Backbone.js</option>
                                            <option value="Vue.js">Vue.js</option>
                                            <option value="Flask">Flask</option>
                                            <option value="Django">Django</option>
                                            <option value="Falcon">Falcon</option>
                                            <option value="Dash">Dash</option>
                                            <option value="Web2Py">Web2Py</option>
                                            <option value="Hibernate">Hibernate</option>
                                            <option value="Spring">Spring</option>
                                            <option value=".Net Core API">.Net Core API</option>
                                            <option value=".Net Core MVC">.Net Core MVC</option>
                                            <option value="Bootstrap">Bootstrap</option>
                                            <option value="Google Data Studio">Google Data Studio</option>
                                            <option value="Oracle">Oracle</option>
                                            <option value="SQL Server">SQL Server</option>


                                        </select>
                                        <span class="error-message" style="color: red; display: none;">Please select at least one Position.</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row pl-4 pr-4">
                                <div class="col-sm-3 col-md" style="color: black">Domicile</div>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="domicile2" oninput="handleInput(event, this);" onpaste="handleInput(event, this);" >
                                    <span class="error-message" style="color: red; display: none;">This field is required!</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row pl-4 pr-4">
                                <div class="col-sm-3 col-md" style="color: black">Degree</div>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="degree2" oninput="handleInput(event, this);" onpaste="handleInput(event, this);" >
                                    <span class="error-message" style="color: red; display: none;">This field is required!</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row pl-4 pr-4">
                                <div class="col-sm-3 col-md" style="color: black">IPK</div>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="ipk2" oninput="numeric(this);" onpaste="numeric(this);" @*required*@>
                                    @*<span class="error-format-ipk-update" style="color: red; display: none;">Enter the correct GPA!</span>*@
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row pl-4 pr-4">
                                <div class="col-sm-3 col-md" style="color: black">University </div>
                                <div class="col-sm-9">
                                    <select id="UniversityName2" class="selectUniversity2 form-control" >
                                        <option></option>
                                    </select>
                                    <span class="error-message" style="color: red; display: none;">This field is required!</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row pl-4 pr-4">
                                <div class="col-sm-3 col-md" style="color: black">Birthdate </div>
                                @*<div class="col-sm-9 input-group input-group-sm">
                                    <input type="number" class="form-control" id="age" >
                                    <div class="input-group-append ">
                                        <span class="input-group-text">Years</span>
                                    </div>
                                </div>*@
                                <div class="col-sm-9">
                                    <input type="date" class="form-control" id="birthdate2">                                    
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row pl-4 pr-4">
                                <div class="col-sm-3 col-md" style="color: black">Level</div>
                                <div class="col-sm-9">
                                    <select id="level2" class="selectLevel form-control" name="state">
                                        <option value="Fresh Graduate">Fresh Graduate</option>
                                    <option value="Junior">Junior</option>
                                    <option value="Junior to Middle">Junior to Middle</option>
                                    <option value="Middle">Middle</option>
                                    <option value="Middle to Senior">Middle to Senior</option>
                                    <option value="Senior">Senior</option>
                                    </select>
                                    <span class="error-message" style="color: red; display: none;">This field is required!</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row pl-4 pr-4">
                                <div class="col-sm-3 col-md" style="color: black">Experience<span class="text-danger"></span></div>
                                <div class="col-sm-4 col-md-5">
                                    <div class="input-group input-group-sm ">
                                        <input type="number" min="0" maxlength="2" class="form-control" id="experience_year2">
                                        <div class="input-group-append">
                                            <span class="input-group-text">Years</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    <div class="input-group input-group-sm ">
                                        <input type="number" min="0" max="11" maxlength="2" class="form-control" id="experience_month2" >
                                        <div class="input-group-append">
                                            <span class="input-group-text">Months</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row pl-2 pr-2">
                                <div class="col-sm-3 col-md"></div>
                                <div class="col-sm-9 col-md-9">
                                    <span class="error-message" id="experience_error2" style="color: red; display: none;">Experience year is required!</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row pl-4 pr-4">
                                <div class="col-sm-3 col-md" style="color: black">Filtering By</div>
                                <div class="col-sm-9">
                                    <select id="filteringby2" class="selectFiltering form-control" name="state" >
                                        <option value="Jobstreet">Jobstreet</option>
                                        <option value="RAS">RAS</option>
                                        <option value="Recruitment">Recruitment</option>
                                    </select>
                                    <span class="error-message" style="color: red; display: none;">This field is required!</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row pl-4 pr-4">
                                <div class="col-sm-3 col-5" style="color: black">Work Status</div>
                                <div class="col-sm-9 col-7">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="workstatus2" name="workstatus2" value="true">
                                        <span class="status-indicator " style="font-size: smaller">Not Working</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row pl-4 pr-4 ">
                                <div class="col-sm-3 col-md" style="color: black">Notice Period</div>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="notice2" oninput="handleInput(event, this);" onpaste="handleInput(event, this);" >
                                    <span class="error-message" style="color: red; display: none;">This field is required!</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row pl-4 pr-4">
                                <div class="col-sm-3 col-5" style="color: black">Financial Industry</div>
                                <div class="col-sm-9 col-7">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="financial2" name="financial" value="True" >
                                        <span class="status-indicator_" style="font-size: smaller">No</span>
                                    </div>
                                    <span class="error-message" style="color: red; display: none;">This field is required!</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row pl-4 pr-4">
                                <div class="col-sm-3 col-md" style="color: black">Raw CV</div>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" oninput="handleInput(event, this);" onpaste="handleInput(event, this);" id="rawcv2" >
                                    <span class="error-message" style="color: red; display: none;">This field is required!</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row pl-4 pr-4">
                                <div class="col-sm-3 col-md" style="color: black">Berca CV</div>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" oninput="handleInput(event, this);" onpaste="handleInput(event, this);" id="bercacv2" >
                                    <span class="error-message" style="color: red; display: none;">This field is required!</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row pl-4 pr-4">
                                <div class="col-sm-3 col-md" style="color: black">English</div>
                                <div class="col-sm-9">
                                    <select id="english2" class="selectFiltering form-control" name="state" >
                                        <option value="Advanced">Advanced</option>
                                        <option value="Intermediate">Intermediate</option>
                                        <option value="Low">Low</option>
                                    </select>
                                    <span class="error-message" style="color: red; display: none;">This field is required!</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row pl-4 pr-4">
                                <div class="col-sm-3 col-md" style="color: black">Current Salary</div>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="current2"  onkeyup="formatCurrency(this);" placeholder="Rp ">
                                    <span class="error-message" style="color: red; display: none;">This field is required!</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row pl-4 pr-4">
                                <div class="col-sm-3 col-md" style="color: black">Expected Salary</div>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="expected2"  onkeyup="formatCurrency(this);" placeholder="Rp ">
                                    <span class="error-message" style="color: red; display: none;">This field is required!</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row pl-4 pr-4">
                                <div class="col-sm-3 col-md" style="color: black">Negotiable</div>
                                <div class="col-sm-9">
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" id="Yes2" name="nego2" value="true">
                                        <label class="form-check-label" for="radio1">Yes</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" id="No2" name="nego2" value="false">
                                        <label class="form-check-label" for="radio2">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Update();">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="ClearScreenUpt();">Close</button>
            </div>
        </div>
    </div>
</div>

 






@*<script src="https://code.jquery.com/jquery-3.7.0.js"></script>*@
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/fixedcolumns/4.3.0/js/dataTables.fixedColumns.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.4.0/js/dataTables.fixedHeader.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>


<script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@@2.5.3/dist/umd/popper.min.js"></script>
@*<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
*@

<!-- Select2 -->
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
*@
<script>
    $(document).ready(function () {
        $('input[required_], input[required], select[required], select[required_]').each(function () {
                // Find the closest div with class 'col' and add a red asterisk
                $(this).closest('.row').find('.col-sm-3').append('<span style="color: red;">*</span>');
                @* $(this).closest('.row').find('.col-sm-3').append('<span style="color: red;">*</span>'); *@
            });
        $('#collapseExample').on('show.bs.collapse', function () {
            // Di sini, Anda bisa mengubah teks tombol saat kolaps ditampilkan
            $('.btn[data-target="#collapseExample"]').text('Hide 19 hidden fields');
        });

        $('#collapseExample').on('hide.bs.collapse', function () {
            // Di sini, Anda bisa mengubah teks tombol saat kolaps disembunyikan
            $('.btn[data-target="#collapseExample"]').text('Show 19 hidden fields');
        });
    });

    


</script>
@section script{
    <script src="~/js/SrcDatatable.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/mammoth/1.5.0/mammoth.browser.min.js"></script> @*Word To Text*@

    <script src="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.11.338/pdf.min.js"></script>
     <script src="~/js/ResourceReport/PdfToText.js"></script>
}