
@{
    ViewData["Title"] = "ShorlistCandidate";
    Layout = "~/Views/Layout/LayoutAdmin.cshtml";
}

<h1>ShorlistCandidate</h1>

<div id="example"></div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
<script src="~/js/ShortListCandidate.js"></script>