
@{
    ViewData["Title"] = "ShorlistCandidate";
    Layout = "~/Views/Layout/LayoutAdmin.cshtml";
}

<h1>ShorlistCandidate</h1>

<div id="example"></div>


    <div class="controls">
  <button id="load" class="button button--primary button--blue">Load data</button>&nbsp;
  <button id="save" class="button button--primary button--blue">Save data</button>
  <label>
    <input type="checkbox" name="autosave" id="autosave"/>
    Autosave
  </label>
</div>

<output class="console" id="output">Click "Load" to load data from server</output>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
<script src="~/js/ShortListCandidate.js"></script>