@{
    ViewData["Title"] = "DepartmentEmployee";
    Layout = "~/Views/Layout/LayoutAdmin.cshtml";
}
<!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- fullCalendar -->
<link rel="stylesheet" href="~/css/ManageEmployee/calendar.css">
 <!-- Theme style -->

<link rel="stylesheet" href="~/css/ManageEmployee/adminlte.css">


<!-- Content Header (Page header) -->


<!-- Main content -->

<section class="content">
    <div class="container-fluid">
        <h5 style="font-family:comfortaa; color: black; padding: 5px 6px" class="font-weight-bold">Calender</h5>
    <div class="row">
        
        <!-- /.col -->
        <div class="col-md">
        <div class="card card-primary">
            <div class="card-body p-0">
            <!-- THE CALENDAR -->
            <div id="calendar"></div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<script src="~/js/ManageEmployee/ActivityCalendar.js"></script>
<!-- jQuery UI -->
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js" integrity="sha256-hlKLmzaRlE8SCJC1Kw8zoUbU8BxA+8kR3gseuKfMjxA=" crossorigin="anonymous"></script>
<!-- fullCalendar 2.2.5 -->
<script src="~/js/ManageEmployee/moment.min.js"></script>
<script src="~/js/ManageEmployee/Calendar.js"></script>
