@{
    ViewData["Title"] = "DepartmentEmployee";
    Layout = "~/Views/Layout/LayoutAdmin.cshtml";
}

<style>

    .cards {
        font-family: Nunito,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        color: #858796;
        background-color: #fff;
    }

    .cards-header {
        padding: .75rem 1.25rem;
        margin-bottom: 0;
        background-color: #f8f9fc;
        border-bottom: 1px solid #e3e6f0;
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #F7F6FE;
    }

    .table-striped tbody tr:nth-of-type(even) {
        background-color: #FFFFFF;
    }

    .table-bordered th, .table-bordered td {
        border: 1px solid #eeeeee;
    }

    label {
        display: inline-block;
        margin-bottom: .5rem;
        font-size: 14px;
    }

    .table.dataTable {
        margin-top: 0 !important;
    }

    .dataTables_length {
        font-size: 14px; /* Sesuaikan dengan ukuran yang Anda inginkan */
    }

    .dataTables_filter input[type="search"] {
        font-size: 12px; /* Atur ukuran font sesuai kebutuhan */
        padding: 5px;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button {
        font-size: 13px;
    }

    div.dataTables_wrapper div.dataTables_info {
        font-size: 13.5px;
    }

    table.dataTable > thead > tr > th, table.dataTable > thead > tr > td {
        font-size: 14px;
    }

    table.table-bordered.dataTable th, table.table-bordered.dataTable td {
        font-size: 14px;
    }

    /* Badge Styles with Pastel Colors and Black Text */

    .form-control {
        height: 31px;
    }

    select.form-control {
        font-size: 14.5px;
    }

    .dataTables_info {
        font-size: 14.5px;
    }

    .table.dataTable {
        margin-top: 0 !important;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button.previous,
    .dataTables_wrapper .dataTables_paginate .paginate_button.next {
        font-size: 14.5px;
    }

    .paginate_button {
        font-size: 14px;
        padding: 4px 8px;
    }

    .customWrap {
        white-space: normal !important;
        word-wrap: break-word;
    }

    .expand-content {
        cursor: pointer;
    }

    .expand-content:hover {
        color: darkblue !important;
    }

    .closeBtn:hover {
        background-color: #e3e3e3;
    }

</style>


<!-- /.card-header -->
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h5 class="m-1 font-weight-bold text-primary">Department Table</h5> 
            </div>
            <div class="col">
                <button style="background-color:#624DE3; float: right; font-size: 12px;" type="button" class="btn text-light mb-2 btn-add-department" data-toggle="modal" data-target="#Modal" onclick="ClearScreen();">
                    + Add Department
                </button>
            </div>
        </div>
    </div>
    <div class="card-body">
        
        <table id="TB_Department" class="table table-striped table-bordered text-nowrap" style="max-width:100%; color:black">
            <thead style="color: #858796;">
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Department Name</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
        </table>

        @*Modal*@
        <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><b>Department</b></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" id="DeptId" hidden>
                            </div>
                            <div class="form-group">
                                <label for="NamaDept">Department Name</label>
                                <input type="text" class="form-control" id="NamaDept" oninput="handleInput(event, this);" onpaste="handleInput(event, this);" placeholder="Enter department name" required>
                                <span class="error-message" style="color: red; display: none;">This field is required!</span>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" id="Save" onclick="Save();">Save</button>
                        <button type="button" class="btn btn-warning" id="UpdateDept" onclick="UpdateDept();">Update</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" onclick=" ClearScreen()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>

<script src="~/js/Department.js"></script>
