@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/LayoutAdmin.cshtml";
}


<h5 style="font-family:comfortaa; color: black" class="font-weight-bold">Manage Resource</h5>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Employee Table</h6>
    </div>
    <div class="card-body table-responsive">
        <div class="text-right mb-1 mt-0">
            <!-- Tombol reset filter -->
            <button id="resetFilters" class="btn btn-secondary btn-sm">Reset Filters</button>
        </div>
        <table class="table table-striped table-bordered text-nowrap" id="dataTableEmployee" style="width:100%" cellspacing="0">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Address</th>
                    <th>Placement Status</th>
                    <th>Placement Location</th>
                    <th>Hired Status</th>
                    <th>Action</th>
                </tr>
            </thead>

        </table>

    </div>
</div>

@*Modal*@
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Status Turn Over Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="AccountId" hidden>
                        @*<input type="text" class="form-control" id="PlacementID" hidden>*@
                        <label for="PlacementStatus">Turn Over Employee Status</label>
                        <select id="PlacementStatus" class="form-control" placeholder="Select Turn Over Status" required>                            
                            <option value="Blacklist">Blacklist</option>
                            <option value="Resign">Resign</option>
                            <option value="Transfer">Transfer</option>

                        </select>
                        <span class="error-message-framework" style="color: red; display: none;">This field is required!</span>
                        <input type="text" class="form-control" id="CompanyName" hidden>
                    </div>
                    <div class="form-group">
                        <label for="Description">Description</label>
                        <input type="text" class="form-control" id="Description" placeholder="Fill if necessary">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal" id="Update" onclick="SaveTurnOver();">Update</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Loader-->
<div id="loader" style="width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); z-index: 999; display: none; position: fixed; top: 0; left: 0;">
    <div style="position: fixed; top: 50%; left: 50%;  text-align: center;">
        <!-- Icon spinner -->
        <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-secondary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-success" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-danger" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-warning" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

<script src="~/js/ManageEmployee.js"></script>

