
@{
    ViewData["Title"] = "TimesheetReport";
    Layout = "~/Views/Layout/LayoutAdmin.cshtml";
}
<!-- Custom styles for this page -->
<link href="~/startbootstrap-sb-admin-2-gh-pages/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<link href="~/startbootstrap-sb-admin-2-gh-pages/vendor/datatables-responsive/css/responsive.bootstrap4.min.css" rel="stylesheet">
<style>
    input[type="month"]::-webkit-calendar-picker-indicator {
        margin-left: -25px;
    }

     .custom-select {
        font-size: 7px; 
        padding: 0.25rem 0.5rem; 
    }

    .row {
        margin-bottom: 5px; 
    }

    .text-dark.text-sm {
        font-size: 14px;
    }

    .col {
        display: flex;
        align-items: center;
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #F7F6FE;
    }

    .table-striped tbody tr:nth-of-type(even) {
        background-color: #FFFFFF;
    }

 

    input[type="month"]::-webkit-calendar-picker-indicator {
        margin-left: -25px;
    }

    .dataTables_length,
    .dataTables_filter,
    .dataTables_info,
    .dataTables_paginate {
        font-size: 14px; /* Atur ukuran teks */
    }

        .dataTables_length select,
        .dataTables_filter input[type="search"] {
            height: 24px; /* Atur tinggi elemen dropdown dan input search */
            font-size: 14px; /* Atur ukuran teks dropdown dan input search */
        }

        .dataTables_paginate .paginate_button {
            font-size: 14px; /* Atur ukuran tombol Previous dan Next */
        }



    .select2{
  
        margin-left: 12px;
    }

    /* CSS untuk membuat placeholder terlihat abu-abu */
    select option[value=""][disabled] {
        display: none;
    }

    select option[disabled] {
        color: #888;
    }





</style>

@*<h6 style="color:black">Recap Timesheet Report</h6>*@
<div class="card">
    <div class="row">
        <div class="col"><h6 style="font-family:comfortaa; color:#0D6EFD;" class="ml-3 mt-2 font-weight-bold" id="text-show">Recap Timesheet report</h6></div>
    </div>


<div class="card shadow no-border mx-3 mb-3" style="width: 30rem;">
    <div class="card-body p-2">
            <div class="media-body text-left pt-0 m-0 pl-1">
                <form>
                     <div class="row p-0 m-0">
                        <span style="font-size: 15px;" class="col-4 text-dark text-sm">Company Name</span>
                        <span style="font-size: 15px;" class="col-0 text-sm">:</span>
                        <select style="font-size: 15px; color: #888;" class="col p-0 pl-1 ml-2 mb-1 custom-select custom-select-sm pl-" id="companySelect">
                        <option value="" selected disabled hidden >Choose...</option>
                        </select>
                     </div>
                    <div class="row p-0 m-0">
                        <span style="font-size: 16px;" class="col-4 text-dark text-sm">Month</span>
                        <span style="font-size: 16px;" class="col-0 text-sm">:</span>
                        <span style="font-size: 16px;" class="col text-dark text-sm month">

                            <input type="month" class="text-dark p-0 m-0" id="month" style="font-size: 16px; outline: none; border:none">

                        </span>
                    </div>
                    <div class="d-flex flex-row-reverse" >
                    <button class="btn btn-sm text-light" style="background-color:#0D6EFD" id="submitBtn"> Submit </button>
                    </div>
                </form>
               
            </div>
    </div>
</div>
</div>
<div class="alert alert-warning" role="alert" id="nullInput">
    Submit company name and period to see the report
</div>



<div class="card mt-2 mb-3" id="reportTimesheet">
    <div class="card-header">
        <div class="row justify-content-between">
            @*<div class="col"><h6 class="mb-0 pb-0">Time Sheet Report</h6></div>*@
            <div class="col"><h6 style="font-family:comfortaa; color:#0D6EFD;" class="mt-2 mr-2 font-weight-bold" id="text-show">Recap Timesheet report</h6></div>
             <div class="col-auto" >
                <a href="@Url.Action("GeneratePdf", "TimeSheetPdf", new { companyName = "", month = "" })" class="btn btn-sm btn-success" id="btn-report"style="display:none">
                    <i class="fa fa-download"></i> Download Report
                </a>

             </div>
           
        </div>
    </div>
    <div class="card-body mb-2  pb-1">
        <table id="reportTimesheetTable" class="table table-striped table-bordered text-nowrap w-100 timeSheetTable" style="font-size:13px; color:black">
            <thead style="background-color:#FFFFFF">
                <tr>
                    <th width="35px">No</th>

                    <th scope="col">Name</th>
                    <th scope="col">WFO</th>
                    <th scope="col">WFH</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@*Modal informationAccountModal*@
<div class="modal fade" id="informationAccountModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="color: rgb(31, 31, 31)">Recap Timesheet Employe Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card" id="tableTimeSheet">
                    <div class="card-header">
                       <div class="row justify-content-between">
                            <div class="col"><h5 id="nameEmp"></h5></div>
                        </div> 
                    </div>
                    <div class="card-body">
                        <table id="timeSheetTable" class="table table-bordered timeSheetTable" style="width:100%">
                            <thead style="background-color:#FFFFFF;">
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">Activity Detail</th>
                                    <th scope="col">Flag</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Known By</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section script
    {
    <script src="~/js/RecapTimesheet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
      <script src="~/startbootstrap-sb-admin-2-gh-pages/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/startbootstrap-sb-admin-2-gh-pages/vendor/datatables-responsive/js/dataTables.responsive.min.js"></script>

}

