@{
    ViewData["Title"] = "TrackingInterview";
    Layout = "~/Views/Layout/LayoutAdmin.cshtml";
}
<style>
    @* *{
        border: 1px solid green;
    } *@
    .badge {
        font-size: 12px;
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #F7F6FE;
    }

    .table-striped tbody tr:nth-of-type(even) {
        background-color: #FFFFFF;
    }

    #resource_length label {
        font-size: 14px;
    }

    #resource_filter label {
        font-size: 14px;
    }


    #resource_filter input[type="search"] {
        font-size: 14px;
        height: 26px;
    }


    #resource td {
        font-size: 13px;
    }

    th {
        font-size: 13px;
    }

    /* Badge Styles with Pastel Colors and Black Text */



    .form-control {
        height: 31px;
    }


    select.form-control {
        font-size: 14.5px;
    }


    .dataTables_info {
        font-size: 14.5px;
    }

    .dataTables_filter {
        margin-right: 18px;
    }
    .table.dataTable {
    margin-top: 0 !important;
}

    .dataTables_wrapper .dataTables_paginate .paginate_button.previous,
    .dataTables_wrapper .dataTables_paginate .paginate_button.next {
        font-size: 14.5px;
    }

    .paginate_button {
        font-size: 14px;
        padding: 4px 8px;
    }

    .customWrap {
        white-space: normal !important; 
        word-wrap: break-word;
    }
    .expand-content {
        cursor: pointer; 
    }
    .expand-content:hover {
        color: darkblue !important;
    }


    @@media (min-width: 768px) {
        .dataTables_filter {
            margin-right: 10px;
        }
    }

</style>


<div>
    <button style="background-color:#624DE3;  font-size: 12px;" type="button" class="btn btn-sm text-light mb-2" data-toggle="modal" data-target="#Modal">
        Add New
    </button>
</div>
<div class="card mb-3 rounded-bottom border-0">

    <nav id="filterNavigation" class="navbar-light navbar-expand-sm" style="background-color: #e3f2fd;">

    </nav>

    <div class="card-body pr-0 pb-1 pl-3">
        <table id="trackingIntvw" class="table table-striped table-bordered text-nowrap" style="max-width:100%; color:black" cellspacing="0">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Fullname</th>
                    <th>Position</th>
                    <th>Name of User</th>
                    <th>Interview Status</th>
                    <th>Interview Date</th>
                </tr>
            </thead>
            <tbody>
                <!-- Tambahkan baris-baris data lainnya di sini -->
            </tbody>
        </table>
    </div>
</div>

@*<script src="https://code.jquery.com/jquery-3.7.0.js"></script>*@
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/fixedcolumns/4.3.0/js/dataTables.fixedColumns.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.4.0/js/dataTables.fixedHeader.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>


<script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@@2.5.3/dist/umd/popper.min.js"></script>
@*<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
*@

<!-- Select2 -->

@section script{
    <script src="~/js/TrackingInterviewJS.js"></script>
}








